@{
    ViewData["Title"] = "Index";
    ViewData["Single"] = true;
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="col g-3">

    <div class="mat-card">
        <div class="rowr uk-margin-small-bottom">
            <h3 class="uk-h2 uk-margin-auto-left">
                تایید خرید
            </h3>
            <img src="~/st/r/logo.jpg" height="48" width="48" alt="" />
        </div>
        Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
    </div>

    <partial name="_Cart" />

    <div class="mat-card">
        <h4 class="uk-margin-small-bottom">
            انتخاب آدرس
        </h4>
        <div class="fg-col">
            <label class="fg-label">آدرس</label>
            <textarea class="entry"></textarea>
        </div>
    </div>

    <div class="mat-card">
        <h4 class="uk-margin-small-bottom">
            روش های ارسال
        </h4>
        <div class="fg-col">
            <label class="radio">
                <span>ارسال با پیک</span>
                <input id="radio0" name="I-1586-1603-1600-1595-1589O" class="uk-radio" value="سیب" type="radio">
            </label>
            <label class="radio">
                <span>ارسال با پست</span>
                <input id="radio1" name="I-1586-1603-1600-1595-1589O" class="uk-radio" value="موز" type="radio">
            </label>
            <label class="radio">
                <span>ارسال با چاپاره</span>
                <input id="radio2" name="I-1586-1603-1600-1595-1589O" class="uk-radio" value="هلو" type="radio">
            </label>
            <label class="radio">
                <span>ارسال با تیپاکس</span>
                <input id="radio3" name="I-1586-1603-1600-1595-1589O" class="uk-radio" value="آلبالو" type="radio">
            </label>
        </div>
    </div>

    <div class="mat-card">
        <h4 class="uk-margin-small-bottom">
            انتخاب آدرس
        </h4>
        <div class="fg-col">
            <label class="fg-label">آدرس</label>
            <textarea class="entry"></textarea>
        </div>
    </div>

</div>



