@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="col g-3">
    <table class="table mat-card" dir="rtl">
        <thead>
            <tr>
                <th>
                    <label class="date">1399/08/08</label>
                </th>
            </tr>
            <tr>
                <th>نام محصول</th>
                <th>تعداد</th>
                <th>فی</th>
                <th>تخفیف</th>
                <th>قیمت</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>6</td>
                <td></td>
                <td></td>
                <td>12,000,000</td>
            </tr>
        </tfoot>
    </table>
    <table class="table mat-card" dir="rtl">
        <thead>
            <tr>
                <th>
                    <label class="date">1399/08/08</label>
                </th>
            </tr>
            <tr>
                <th>نام محصول</th>
                <th>تعداد</th>
                <th>فی</th>
                <th>تخفیف</th>
                <th>قیمت</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
            <tr>
                <td>
                    <a href="/Product" class="link-text">گوشی موبایل سامسونگ گلکسی آ هشت 256 گیگ حافظه داخلی</a>
                </td>
                <td>2</td>
                <td>2,240,000</td>
                <td>
                    <span class="badge">12%</span>
                    <span></span>
                </td>
                <td>4,000,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>6</td>
                <td></td>
                <td></td>
                <td>12,000,000</td>
            </tr>
        </tfoot>
    </table>
</div>
