@model DataLayer.Models.TblStore
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش فروشگاه
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Edit" asp-controller="Store" asp-area="Admin" method="post" enctype="multipart/form-data"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">
    <input type="hidden" asp-for="StoreId" />
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>نام فروشگاه</label>
                <input asp-for="Name" class="form-control form-control-sm" placeholder="مثال: فروشگاه 1">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group col-md-3">
                <label>شماره تماس</label>
                <input asp-for="TellNo" type="tel" class="form-control form-control-sm" placeholder="مثال: ...0914">
                <span class="text-danger" asp-validation-for="TellNo"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-7">
                <label>توضیحات</label>
                <textarea  asp-for="Body" class="textarea-fix-height-120" placeholder=" متن توضیحات... "></textarea>
            </div>
            <span class="text-danger" asp-validation-for="Body"></span>
        </div>
        <hr />
        <label class="mt-3 uk-text-bold">افزودن عکس </label>
        &nbsp;<span onclick="SetNewInputGallery()" class="text-success" uk-icon="add-circle-outline"></span>
        &nbsp;<span onclick="RemoveInputGallery()" class="text-danger" uk-icon="remove-circle-outline"></span>

              <div id="GalleryPanel">
                  @foreach (var item in Model.TblStoreImageRel)
                  {
                      <div class="custom-file col-md-7 mt-3" id="ImageId-@item.StoreImageRel">
                          <input type="file" class="custom-file-input form-control form-control-sm" disabled accept="image/x-png,image/gif,image/jpeg,video/mp4,video/x-m4v,video/*" />
                          <label class="custom-file-label" data-browse="انتخاب">
                              @item.Image.Image
                          </label>
                          <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                              <a onclick="DeleteImage(@item.StoreImageRel)"  class="text-danger" uk-icon="trash-outline"></a>
                          </span>
                      </div>
                  }
              </div>
        <br />
        <span class="text-success">لطفا اندازه تصویر انتخابی 360*800 باشد</span>
        <br />
        <hr />
        <div class="form-row">
            <div class="form-group col-md-7">
                <label>آدرس</label>
                <input asp-for="Address" class="form-control form-control-sm" placeholder="مثال: خیابان امام...">
            </div>
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
        <label>لوکیشن فروشگاه</label>
        <div id="map" style="height:220px;"></div>
    </div>
    <input type="hidden" asp-for="Lat" />
    <input type="hidden" asp-for="Lon" />
    <span class="text-danger" asp-validation-for="Lat"></span>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
    </div>
</form>

<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>

<script>
    function SetNewInputGallery() {
        //$("#GalleryPanel").append("<div class='custom-file col-md-7 mt-3'><input type='file' class='custom-file-input form-control form-control-sm' accept='image/x-png,image/gif,image/jpeg' name='GalleryFile'/><label class='custom-file-label'></label></div>");
        $("#GalleryPanel").append(
            `<div class="custom-file col-md-7 mt-3">
                                                   <input type="file" class="custom-file-input form-control form-control-sm" accept="image/x-png,image/gif,image/jpeg" name="GalleryFile" onchange="inputChanged(this)"/>
                                                   <label class="custom-file-label" data-browse="انتخاب">
                                                        انتخاب فایل
                                                   </label>
                                                 </div>`
        );
        //$("#GalleryPanel").append("<div><input type='file' accept='image/x-png,image/gif,image/jpeg' name='GalleryFile'/></div>");
    }
    function inputChanged(sender) {
        var fileName = sender.files[0].name;
        sender.parentElement.querySelector('.custom-file-label').innerHTML = fileName;
    }

    function RemoveInputGallery() {
        $("#GalleryPanel div").last().remove();
    }
    function DeleteImage(id) {
        $.post("/Admin/Store/DeleteImage/" + id, function () {
            $("#ImageId-" + id).remove();
        });
    }
</script>
<script>

    var map = L.map('map').setView([38.07674409597339, 46.29700302496191], 11);

    L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'ghasreMobile'
    }).addTo(map);

    var theMarker = {};

    map.on('click', function (e) {
        lat = e.latlng.lat;
        lon = e.latlng.lng;

        //Clear existing marker,

        if (theMarker != undefined) {
            map.removeLayer(theMarker);
        };

        var iconSetting = L.Icon.extend({
            options: {
                iconSize: [32, 32],
                iconAnchor: [16, -8]
            }
        });

        var customIcon = new iconSetting({ iconUrl: '/marker.svg' });
        //Add a marker to show where you clicked.
        $("#Lat").val(lat.toString());
        $("#Lon").val(lon.toString());
        theMarker = L.marker([lat, lon], { icon: customIcon }).addTo(map).bindPopup('<h6 style="color:green">موقعیت فروشگاه شما ثبت شد</h6>').openPopup();
    });

</script>