/*Star*/
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.rowr {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.colr {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.categories {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px; }
  @media only screen and (min-device-width: 420px) {
    .categories {
      padding: 12px; } }
  @media only screen and (max-device-width: 420px) {
    .categories {
      padding: 8px; } }
  .categories li {
    display: flex;
    flex-direction: column; }
    .categories li a {
      padding: 12px 0;
      border-bottom: 1px dashed #ccc; }
  .categories li:last-child a {
    border: 0; }

.main-slideshow {
  overflow: hidden;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px; }
  .main-slideshow .uk-dotnav {
    height: 16px; }

.gallery-grid .grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  margin-bottom: 16px; }
  .gallery-grid .grid a {
    display: flex;
    width: 100%; }
    .gallery-grid .grid a img {
      max-height: 200px;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      margin: auto; }

@media only screen and (max-width: 960px) {
  .gallery-grid .grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); }
    .gallery-grid .grid a img {
      max-height: 164px; }
    .gallery-grid .grid a:nth-child(n+5) {
      display: none; }
      .gallery-grid .grid a:nth-child(n+5) img {
        display: none; } }

.service .body {
  display: grid; }

.questions h3 {
  font-size: 20px;
  padding: 12px;
  margin-top: 0 !important; }

.questions ul li {
  margin-top: 0 !important;
  border-bottom: solid #e9e9e9 1px; }
  @media only screen and (min-device-width: 420px) {
    .questions ul li {
      padding: 12px; } }
  @media only screen and (max-device-width: 420px) {
    .questions ul li {
      padding: 8px; } }
  .questions ul li .uk-accordion-title {
    font-size: 16px !important; }
  .questions ul li .uk-accordion-content {
    margin-top: 10px !important;
    font-size: 13px !important; }

@media only screen and (max-width: 480px) {
  .questions ul li {
    margin-top: 0 !important;
    border-bottom: solid #e9e9e9 1px; } }
  @media only screen and (max-width: 480px) and (min-device-width: 420px) {
    .questions ul li {
      padding: 12px; } }
  @media only screen and (max-width: 480px) and (max-device-width: 420px) {
    .questions ul li {
      padding: 8px; } }

@media only screen and (max-width: 480px) {
    .questions ul li .uk-accordion-title {
      font-size: 17px !important; }
    .questions ul li .uk-accordion-content {
      margin-top: 8px !important;
      font-size: 13px !important; } }

.main-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px; }
  .main-contact .left {
    display: flex;
    flex-direction: column;
    grid-gap: 12px; }
  .main-contact .right {
    display: flex;
    flex-direction: column;
    grid-gap: 12px; }
  .main-contact .sellers ul {
    display: grid;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    direction: rtl; }
    .main-contact .sellers ul li {
      direction: ltr;
      padding: 8px;
      background-color: #f8f8f8;
      -moz-border-radius: 4px 4px 4px 4px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
      display: flex;
      flex-direction: column;
      grid-gap: 4px; }
      .main-contact .sellers ul li label {
        font-size: 13px;
        color: #666; }
      .main-contact .sellers ul li span {
        color: #333;
        font-size: 16px; }
  .main-contact .telegram, .main-contact .instagram {
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden; }
    .main-contact .telegram img, .main-contact .instagram img {
      width: 100%;
      height: auto; }
  .main-contact .bottom {
    border: 3px #e9e9e9 dashed;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-start: span 2; }
    .main-contact .bottom a {
      display: flex; }
      .main-contact .bottom a img {
        margin: auto; }

@media only screen and (max-width: 724px) {
  .main-contact {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; } }

.gallery-main {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  margin-bottom: auto !important; }
  .gallery-main .albumBlock {
    max-height: 220px;
    max-width: 300px; }
    .gallery-main .albumBlock a {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      -ms-align-content: center;
      -webkit-align-content: center;
      align-content: center; }
      .gallery-main .albumBlock a img {
        margin: auto;
        width: 100%;
        height: 100%;
        max-height: 173px;
        min-height: 168px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center; }

.map-card {
  height: 360px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px; }
