@charset "UTF-8";
/*Star*/
/*#region Material  */
/*#endregion */
/*
backdrop-filter: blur(2px);
backdrop-filter: brightness(60%);
backdrop-filter: contrast(40%);
backdrop-filter: drop-shadow(4px 4px 10px blue);
backdrop-filter: grayscale(30%);
backdrop-filter: hue-rotate(120deg);
backdrop-filter: invert(70%);
backdrop-filter: opacity(20%);
backdrop-filter: sepia(90%);
backdrop-filter: saturate(80%);
*/
/*#endregion */
/*#region Alignment */
.row {
  display: flex;
  flex-direction: row; }

.rowr {
  display: flex;
  flex-direction: row-reverse; }

.col {
  display: flex;
  flex-direction: column; }

.colr {
  display: flex;
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1; }

.flex-2 {
  flex: 2; }

.flex-3 {
  flex: 3; }

.flex-4 {
  flex: 4; }

.flex-5 {
  flex: 5; }

.flex-6 {
  flex: 6; }

.flex-7 {
  flex: 7; }

.flex-8 {
  flex: 8; }

.flex-9 {
  flex: 9; }

.flex-10 {
  flex: 10; }

.flex-11 {
  flex: 11; }

.flex-auto {
  flex: auto; }

/*#endregion */
.pr {
  display: grid;
  grid-template-columns: 150px 2fr 1.1fr;
  grid-template-rows: 92px auto;
  grid-template-areas: 'title title image' 'specs content image';
  grid-gap: 10px;
  z-index: 10;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  position: relative; }
  .pr-image {
    grid-area: image; }
    .pr-image .head .fractional {
      display: block;
      -moz-border-radius: 12px 12px 12px 12px;
      -webkit-border-radius: 12px 12px 12px 12px;
      border-radius: 12px 12px 12px 12px;
      padding: 8px;
      color: #96027E;
      border: 2px solid #96027E; }
    .pr-image .border {
      border: solid 1px #e9e9e9;
      position: relative; }
      .pr-image .border .fraction {
        border: 1px solid rgba(150, 2, 126, 0.52);
        background-color: #fff;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        color: #96027E;
        padding: 3px 6px;
        display: flex;
        position: absolute;
        font-size: 10px;
        left: 8px;
        top: 8px;
        z-index: 50; }
      .pr-image .border .slider {
        margin: auto;
        width: 256px;
        display: flex; }
        .pr-image .border .slider .img {
          width: 100%;
          margin-bottom: 6px;
          margin-left: auto;
          display: flex;
          height: 160px; }
          .pr-image .border .slider .img img {
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
            margin: auto; }
    .pr-image .foot {
      display: flex;
      flex-direction: row; }
      @media only screen and (min-device-width: 420px) {
        .pr-image .foot {
          padding: 12px; } }
      @media only screen and (max-device-width: 420px) {
        .pr-image .foot {
          padding: 8px; } }
      .pr-image .foot .action {
        border: 1px #e9e9e9 solid;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
        padding: 8px;
        color: #525252;
        cursor: pointer;
        -moz-transition: all ease 0.2s;
        -o-transition: all ease 0.2s;
        -webkit-transition: all ease 0.2s;
        transition: all ease 0.2s;
        position: relative; }
        .pr-image .foot .action input {
          height: 0;
          width: 0;
          position: absolute;
          -webkit-appearance: none; }
      .pr-image .foot .action:hover, .pr-image .foot .action.checked {
        border-color: #96027E;
        color: #be03a0; }
      .pr-image .foot .left {
        margin-right: auto; }
      .pr-image .foot .right {
        margin-left: auto; }
    .pr-image .thumbnav ul.uk-thumbnav {
      display: grid;
      grid-template-rows: auto;
      grid-gap: 8px;
      grid-template-columns: repeat(auto-fit, minmax(52px, 1fr)); }
      .pr-image .thumbnav ul.uk-thumbnav li a {
        border: 1px #e9e9e9 solid;
        -moz-border-radius: 4px 4px 4px 4px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px; }
  .pr-title {
    background-color: #F5F6F7;
    grid-area: title;
    border: #e9e9e9 1px solid; }
    @media only screen and (min-device-width: 420px) {
      .pr-title {
        padding: 12px; } }
    @media only screen and (max-device-width: 420px) {
      .pr-title {
        padding: 8px; } }
  .pr-title::after {
    content: " ";
    height: 1px;
    width: calc(100% + 24px);
    border-bottom: 2px dashed #e9e9e9;
    margin-top: 14px;
    margin-bottom: -12px;
    margin-left: -12px;
    margin-right: -12px;
    position: relative; }
  .pr-content {
    grid-area: content;
    min-height: 150px;
    grid-gap: 8px; }
    .pr-content .body p {
      margin: 4px 0; }
    .pr-content .colours {
      display: flex;
      flex-direction: column; }
      .pr-content .colours .grid {
        margin-top: 6px;
        display: flex;
        flex-direction: row-reverse;
        grid-gap: 10px;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; }
        .pr-content .colours .grid li .clr {
          border: 1px solid #e9e9e9;
          padding: 6px 8px;
          display: flex;
          flex-direction: row;
          -moz-border-radius: 4px 4px 4px 4px;
          -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
          cursor: pointer; }
          .pr-content .colours .grid li .clr span {
            color: #666;
            font-size: 12px; }
          .pr-content .colours .grid li .clr strong {
            width: 18px;
            height: 18px;
            margin-left: 6px;
            -moz-border-radius: 1000px 1000px 1000px 1000px;
            -webkit-border-radius: 1000px 1000px 1000px 1000px;
            border-radius: 1000px 1000px 1000px 1000px; }
        .pr-content .colours .grid li .active {
          border: 1px solid rgba(150, 2, 126, 0.8) !important; }
    .pr-content .price .discount {
      color: #FF5A64;
      text-decoration: line-through;
      font-size: 24px;
      display: flex;
      flex-direction: row-reverse; }
      .pr-content .price .discount .t {
        color: #FF5A64;
        font-size: 11px !important;
        text-decoration: none !important;
        margin-top: auto;
        margin-bottom: 5px;
        margin-right: 4px; }
    .pr-content .price .actual {
      display: flex;
      flex-direction: row-reverse;
      color: #273693;
      font-size: 24px;
      margin-top: 0px; }
      .pr-content .price .actual .t {
        color: #273693;
        font-size: 13px;
        margin-top: auto;
        margin-bottom: 5px;
        margin-right: 4px; }
  .pr-specs {
    grid-area: specs;
    width: 150px;
    margin: 0;
    margin-bottom: auto;
    background-color: #F5F6F7;
    color: #666;
    min-height: 50px;
    border: #e9e9e9 1px solid;
    padding: 12px;
    direction: rtl;
    list-style: disc !important;
    padding-right: 30px; }
    .pr-specs li {
      direction: rtl;
      min-height: 42px;
      vertical-align: middle;
      list-style: disc !important; }

@media only screen and (max-width: 824px) {
  .pr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "title" "image" "specs" "content"; }
    .pr-specs {
      width: auto; } }

@media only screen and (max-device-width: 420px) {
  .pr-title {
    background-color: transparent;
    padding: 0;
    grid-area: title; }
    .pr-title h1 {
      font-size: 16px; }
    .pr-title span {
      font-size: 13px; }
  .pr-content {
    grid-area: content;
    min-height: 150px;
    grid-gap: 8px; }
    .pr-content .colours {
      display: flex;
      flex-direction: column; }
      .pr-content .colours .grid {
        margin-top: 6px;
        display: flex;
        flex-direction: row-reverse;
        grid-gap: 10px;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; }
        .pr-content .colours .grid li .clr {
          border: 1px solid #e9e9e9;
          padding: 6px 8px;
          display: flex;
          flex-direction: row;
          -moz-border-radius: 4px 4px 4px 4px;
          -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px; }
          .pr-content .colours .grid li .clr span {
            color: #666;
            font-size: 12px; }
          .pr-content .colours .grid li .clr strong {
            width: 18px;
            height: 18px;
            margin-left: 6px;
            -moz-border-radius: 1000px 1000px 1000px 1000px;
            -webkit-border-radius: 1000px 1000px 1000px 1000px;
            border-radius: 1000px 1000px 1000px 1000px; }
    .pr-content .price {
      display: flex;
      flex-direction: column; }
      .pr-content .price .discount {
        color: #FF5A64;
        text-decoration: line-through;
        font-size: 20px; }
      .pr-content .price .actual {
        display: flex;
        flex-direction: row-reverse;
        color: #333;
        font-size: 24px;
        margin-top: 0px; }
        .pr-content .price .actual .t {
          color: #333;
          font-size: 13px;
          margin-top: auto;
          margin-bottom: 5px;
          margin-right: 4px; }
    .pr-content .cart {
      margin-left: 0; }
      .pr-content .cart .button {
        width: 100%;
        white-space: nowrap; }
  .pr-specs {
    background-color: transparent;
    grid-area: specs;
    min-height: 50px; } }

.cart {
  display: flex;
  flex-direction: row-reverse;
  -moz-box-shadow: rgba(197, 57, 246, 0.2) 0 6px 16px;
  -webkit-box-shadow: rgba(197, 57, 246, 0.2) 0 6px 16px;
  box-shadow: rgba(197, 57, 246, 0.2) 0 6px 16px;
  margin-left: auto; }
  .cart button {
    background-color: transparent;
    outline: none;
    color: #fff;
    border: 0; }
  .cart .counter {
    background-color: #810081;
    padding: 6px 12px;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    grid-column-gap: 8px; }
    .cart .counter .plus, .cart .counter .minus {
      width: 24px;
      height: 24px;
      margin: auto 0;
      padding: 2px;
      -moz-border-radius: 1000px 1000px 1000px 1000px;
      -webkit-border-radius: 1000px 1000px 1000px 1000px;
      border-radius: 1000px 1000px 1000px 1000px;
      background-color: #fff; }
    .cart .counter .plus {
      color: #52C41A; }
    .cart .counter .minus {
      color: #FF5A64; }
    .cart .counter .count {
      -moz-border-radius: 1000px 1000px 1000px 1000px;
      -webkit-border-radius: 1000px 1000px 1000px 1000px;
      border-radius: 1000px 1000px 1000px 1000px;
      background-color: #fff;
      width: 32px;
      height: 32px;
      margin: auto 0;
      display: flex;
      flex-direction: column; }
      .cart .counter .count span {
        margin: auto;
        font-size: 17px;
        color: #96027E; }
  .cart .button {
    background-color: #96027E;
    padding: 6px 8px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
  .cart .button:hover {
    background-color: #be03a0; }

.section-nav {
  position: relative;
  background-color: #F5F5F5;
  border: 1px #ddd solid;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: row-reverse;
  margin-top: -1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 2px 8px;
  z-index: 5; }
  .section-nav a {
    color: #666;
    border-left: 1px #ddd solid;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s; }
    @media only screen and (min-device-width: 420px) {
      .section-nav a {
        padding: 12px; } }
    @media only screen and (max-device-width: 420px) {
      .section-nav a {
        padding: 8px; } }
  .section-nav a:hover {
    color: #96027E; }

@media only screen and (max-width: 375px) {
  .section-nav a {
    font-size: 12px;
    text-align: center;
    width: 100%;
    white-space: nowrap; } }

.details table {
  margin: 0;
  margin-top: 8px;
  border-spacing: 8px; }
  .details table tbody tr td {
    padding: 8px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  .details table tbody tr td:first-child {
    background-color: #F4F4F4; }
  .details table tbody tr td:last-child {
    background-color: #F9F9F9; }

@media only screen and (max-width: 400px) {
  .details table {
    margin: 0;
    margin-top: 8px;
    border-spacing: 6px; }
    .details table tbody tr td {
      padding: 6px;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px;
      font-size: 12px !important; } }

@media only screen and (min-width: 1200px) {
  .product-slider .uk-slider-items li {
    width: 25%; } }

@media only screen and (min-width: 960px) and (max-width: 1200px) {
  .product-slider .uk-slider-items li {
    width: 33.33%; } }

@media only screen and (min-width: 864px) and (max-width: 960px) {
  .product-slider .uk-slider-items li {
    width: 50%; } }

@media only screen and (max-width: 864px) {
  .product-slider .uk-slider-items li {
    width: 50%; } }

@media only screen and (max-width: 385px) {
  .star-cb-group label {
    width: 24px !important;
    font-size: 28px !important; } }

.timer {
  display: flex;
  flex-direction: row;
  grid-column-gap: 9px;
  margin-top: 0;
  margin-right: auto; }
  .timer li {
    display: flex;
    flex-direction: column; }
    .timer li label {
      margin: 0 auto;
      font-size: 15px;
      line-height: 1;
      background-color: #F5F5F5;
      min-width: 16px !important;
      max-width: 16px !important;
      text-align: center;
      padding: 6px;
      color: #666;
      -moz-border-radius: 9px 9px 9px 9px;
      -webkit-border-radius: 9px 9px 9px 9px;
      border-radius: 9px 9px 9px 9px; }
    .timer li span {
      margin: 0 auto;
      margin-top: 4px;
      font-size: 9px;
      color: #666; }

.percentage {
  background-color: transparent;
  color: #e0173c !important;
  padding: 4px;
  margin: auto;
  font-weight: 500;
  margin-right: 0;
  vertical-align: central;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #e0173c; }
