@import '../_colors.scss';
@import '../_layout.scss';

.pr {
    $specs-width: 150px;
    $title-height: 92px;
    //
    display: grid;
    grid-template-columns: $specs-width 2fr 1.1fr;
    grid-template-rows: $title-height auto;
    grid-template-areas: 'title title image' 'specs content image';
    grid-gap: 10px;
    z-index: 10;
    @include border-radius(4px,4px,0,0);
    position: relative;

    &-image {
        grid-area: image;

        .head {
            .fractional {
                display: block;
                @include border-radius(12px,12px,12px,12px);
                padding: 8px;
                color: $primary;
                border: 2px solid $primary;
            }
        }

        .border {
            border: solid 1px $mat-border-color;
            position: relative;

            .fraction {
                border: 1px solid transparentize($primary,.48);
                background-color: #fff;
                @include border-def-radius;
                color: $primary;
                padding: 3px 6px;
                display: flex;
                position: absolute;
                font-size: 10px;
                left: 8px;
                top: 8px;
                z-index: 50;
            }

            .slider {
                margin: auto;
                width: 256px;
                display: flex;

                .img {
                    width: 100%;
                    margin-bottom: 6px;
                    margin-left: auto;
                    display: flex;
                    height: 160px;

                    img {
                        @include obj;
                        margin: auto;
                    }
                }
            }
        }

        .foot {
            @include row;
            @include mat-padding;

            .action {
                border: 1px $mat-border-color solid;
                @include border-def-radius;
                padding: 8px;
                color: #525252;
                cursor: pointer;
                @include trans(.2s);
                position: relative;


                input {
                    height: 0;
                    width: 0;
                    position: absolute;
                    -webkit-appearance: none;
                }
            }

            .action:hover, .action.checked {
                border-color: $primary;
                color: lighten($primary,8%);
            }

            .left {
                margin-right: auto;
            }

            .right {
                margin-left: auto;
            }
        }

        .thumbnav {
            ul.uk-thumbnav {
                @include grid-gap(52px,8px);

                li a {
                    border: 1px $mat-border-color solid;
                    @include border-def-radius;
                }
            }
        }
    }

    &-title {
        background-color: #F5F6F7;
        @include mat-padding;
        grid-area: title;
        border: $mat-border-color 1px solid;
    }

    &-title::after {
        content: " ";
        height: 1px;
        width: calc(100% + 24px);
        border-bottom: 2px dashed $mat-border-color;
        margin-top: 14px;
        margin-bottom: -12px;
        margin-left: -12px;
        margin-right: -12px;
        position: relative;
    }


    &-content {
        grid-area: content;
        min-height: 150px;
        grid-gap: 8px;

        .body {
            p {
                margin: 4px 0;
            }
        }

        .colours {
            @include column;

            .grid {
                margin-top: 6px;
                @include row-reverse;
                grid-gap: 10px;
                -ms-flex-wrap: wrap;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;

                li {
                    .clr {
                        border: 1px solid $mat-border-color;
                        padding: 6px 8px;
                        @include row;
                        @include border-def-radius;
                        cursor: pointer;

                        span {
                            color: $Text-2;
                            font-size: 12px;
                        }

                        strong {
                            width: 18px;
                            height: 18px;
                            margin-left: 6px;
                            @include border-circle;
                        }
                    }

                    .active {
                        border: 1px solid transparentize($primary,.2) !important;
                    }
                }
            }
        }

        .price {

            .discount {
                color: $danger;
                text-decoration: line-through;
                font-size: 24px;
                @include row-reverse;

                .t {
                    color: $danger;
                    font-size: 11px !important;
                    text-decoration: none !important;
                    margin-top: auto;
                    margin-bottom: 5px;
                    margin-right: 4px;
                }
            }

            .actual {
                @include row-reverse;
                color: #273693;
                font-size: 24px;
                margin-top: 0px;

                .t {
                    color: #273693;
                    font-size: 13px;
                    margin-top: auto;
                    margin-bottom: 5px;
                    margin-right: 4px;
                }
            }
        }
    }

    &-specs {
        grid-area: specs;
        width: $specs-width;
        margin: 0;
        margin-bottom: auto;
        background-color: #F5F6F7;
        color: $Text-2;
        min-height: 50px;
        border: $mat-border-color 1px solid;
        padding: 12px;
        direction: rtl;
        list-style: disc !important;
        padding-right: 30px;

        li {
            direction: rtl;
            min-height: 42px;
            vertical-align: middle;
            list-style: disc !important;
        }
    }
}

@media only screen and (max-width: 824px) {

    .pr {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "title" "image" "specs" "content";

        &-specs {
            width: auto;
        }
    }
}

@media only screen and (max-device-width : 420px) {
    .pr {
        &-title {
            background-color: transparent;
            padding: 0;
            grid-area: title;

            h1 {
                font-size: 16px;
            }

            span {
                font-size: 13px;
            }
        }

        &-content {
            grid-area: content;
            min-height: 150px;
            grid-gap: 8px;

            .colours {
                @include column;

                .grid {
                    margin-top: 6px;
                    @include row-reverse;
                    grid-gap: 10px;
                    -ms-flex-wrap: wrap;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;

                    li {
                        .clr {
                            border: 1px solid $mat-border-color;
                            padding: 6px 8px;
                            @include row;
                            @include border-def-radius;

                            span {
                                color: $Text-2;
                                font-size: 12px;
                            }

                            strong {
                                width: 18px;
                                height: 18px;
                                margin-left: 6px;
                                @include border-circle;
                            }
                        }
                    }
                }
            }

            .price {
                @include column;

                .discount {
                    color: $danger;
                    text-decoration: line-through;
                    font-size: 20px;
                }

                .actual {
                    @include row-reverse;
                    color: $Text;
                    font-size: 24px;
                    margin-top: 0px;

                    .t {
                        color: $Text;
                        font-size: 13px;
                        margin-top: auto;
                        margin-bottom: 5px;
                        margin-right: 4px;
                    }
                }
            }

            .cart {
                margin-left: 0;

                .button {
                    width: 100%;
                    white-space: nowrap;
                }
            }
        }

        &-specs {
            background-color: transparent;
            grid-area: specs;
            min-height: 50px;
        }
    }
}

.cart {
    @include row-reverse;
    @include subtle-glow(transparentize($primary-light,.8));
    margin-left: auto;

    button {
        background-color: transparent;
        outline: none;
        color: #fff;
        border: 0;
    }

    .counter {
        background-color: #810081;
        padding: 6px 12px;
        @include border-radius(0,6px,6px,0);
        grid-column-gap: 8px;

        .plus, .minus {
            width: 24px;
            height: 24px;
            margin: auto 0;
            padding: 2px;
            @include border-circle;
            background-color: #fff;
        }

        .plus {
            color: $success;
        }

        .minus {
            color: $danger;
        }

        .count {
            @include border-circle;
            background-color: #fff;
            width: 32px;
            height: 32px;
            margin: auto 0;
            @include column;

            span {
                margin: auto;
                font-size: 17px;
                color: $primary
            }
        }
    }

    .button {
        background-color: #96027E;
        padding: 6px 8px;
        @include border-radius(6px,0,0,6px);
        @include trans(.2s);
    }

    .button:hover {
        background-color: lighten(#96027E,8%);
    }
}

.section-nav {
    position: relative;
    background-color: #F5F5F5;
    border: 1px #ddd solid;
    @include border-radius(0,0,4px,4px);
    @include row-reverse;
    margin-top: -1px;
    @include shadow-mild;
    z-index: 5;

    a {
        color: $Text-2;
        @include mat-padding;
        border-left: 1px #ddd solid;
        @include trans(.2s);
    }

    a:hover {
        color: $primary;
    }
}

@media only screen and (max-width: 375px) {
    .section-nav {

        a {
            font-size: 12px;
            text-align: center;
            width: 100%;
            white-space: nowrap;
        }
    }
}

.details {

    table {
        margin: 0;
        margin-top: 8px;
        border-spacing: 8px;

        tbody {
            tr {
                td {
                    padding: 8px;
                    @include border-radius(3px,3px,3px,3px);
                }

                td:first-child {
                    background-color: #F4F4F4;
                }

                td:last-child {
                    background-color: #F9F9F9;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .details {

        table {
            margin: 0;
            margin-top: 8px;
            border-spacing: 6px;

            tbody {
                tr {
                    td {
                        padding: 6px;
                        @include border-radius(3px,3px,3px,3px);
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

//-

@media only screen and (min-width: 1200px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 25%;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 33.33%;
            }
        }
    }
}

@media only screen and (min-width: 864px) and (max-width: 960px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 864px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 385px) {
    .star-cb-group {
        label {
            width: 24px !important;
            font-size: 28px !important;
        }
    }
}

.timer {
    @include row;
    grid-column-gap: 9px;
    margin-top: 0;
    margin-right: auto;

    li {
        @include column;

        label {
            margin: 0 auto;
            font-size: 15px;
            line-height: 1;
            background-color: #F5F5F5;
            min-width: 16px !important;
            max-width: 16px !important;
            text-align: center;
            padding: 6px;
            color: $Text-2;
            @include border-radius(9px,9px,9px,9px);
        }

        span {
            margin: 0 auto;
            margin-top: 4px;
            font-size: 9px;
            color: $Text-2;
        }
    }
}

.percentage {
    background-color: transparent;
    color: #e0173c !important;
    padding: 4px;
    margin: auto;
    font-weight: 500;
    margin-right: 0;
    vertical-align: central;
    @include border-def-radius;
    border: 2px solid #e0173c;
}
