@import '../_colors.scss';
@import '../_layout.scss';

$nav-height: 64px;

#fnav {
    .uk-modal-body {
        width: 260px;

        .user-navigation {
            padding: 0;
            margin: 0;
            position: relative;

            a {
                color: #787878;
                padding: 12px 16px 12px 20px;
                border-left: 0;
                text-align: right;
                @include trans(.2s);
                display: block;
                white-space: nowrap;
            }

            a:hover {
                color: $primary;
            }

            a.active {
                border-right: 3px $primary solid;
            }
        }
    }
}

.space-nav-header {
    height: 46px !important;
}

.floating-navigation {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 4px;
    background-color: $primary;
    @include subtle-glow(transparentize($primary,.64));
    outline: none;
    border: 0;
    @include border-def-radius;
    color: #fff;
    z-index: 100;
}

@media only screen and (max-width: 960px) {
    .floating-navigation {
        display: block;
    }
}

.space-recompinsate {
    height: 110px;
}

@media only screen and (max-width: 960px) {
    .space-recompinsate {
        height: 64px;
    }
}


/*#region Main */
$grid-gap: 16px;
$aside-width: 142px;

.m {
    display: grid;
    grid-template-columns: 1fr $aside-width;
    grid-gap: $grid-gap;
    min-height: calc(100vh - 138px);

    .m-aside {
        @include column;
        grid-gap: $grid-gap;
        width: $aside-width;
        min-width: $aside-width;
    }

    .m-content {
        @include column;
        width: auto !important;
        min-width: 0;
        grid-gap: $grid-gap;
    }
}

@media only screen and (max-width: 960px) {
    .m {
        grid-template-columns: 1fr;

        .m-aside {
            display: none;
        }
    }
}

/*#endregion */

.datalist {
    @include column;
    margin: 0;

    dt {
        font-size: 11px;
        color: #B0B0B0;
        margin-bottom: 2px;
    }

    dd {
        font-size: 18px;
        color: #656565;
    }

    dd:not(:last-child) {
        margin-bottom: 16px;
    }
}

.pfp {
    position: relative;
    height: 112px;
    width: 112px;

    img {
        height: 100%;
        width: 100%;
        @include border-circle;
        @include obj;
    }

    .pfp-select {
        position: absolute;
        bottom: -6px;
        right: -6px;
        color: $Text-3;
        background: $Text-5;
        @include border-circle;
        padding: 5px;
        border: 6px white solid;
        cursor: pointer;

        input {
            position: absolute;
            visibility: collapse;
            height: 0;
            width: 0;
        }
    }
}

.credits {
    color: $Text-4;
    font-size: 13px;

    a {
        color: #bbb;
        font-weight: bold;
    }
}

.wallet {
    @include border-radius(16px,16px,16px,16px);
    @include shadow-medium;
    padding: 24px;
    display: grid;
    height: 124px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "balance title" "a button";
    //-
    background: rgb(255,100,156);
    background: -moz-linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    background: linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff649c",endColorstr="#960a96",GradientType=1);

    .title {
        grid-area: title;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    .button {
        grid-area: button;
        margin-left: auto;
        margin-top: auto;
        background: #fff;
        color: $primary;
    }

    .balance {
        grid-area: balance;
        @include row-reverse;

        .bal {
            color: #fff;
            font-size: 32px;
            margin: 0;
        }

        .t {
            color: #fff;
            font-size: 16px;
            margin: auto 0;
            margin-right: 5px;
        }
    }
}

.mini-wallet {
    @include border-radius(8px,8px,8px,8px);
    @include column;
    @include shadow-medium;
    border: 0;
    outline: 0;
    padding: 10px;
    min-width: 124px;
    cursor: pointer;
    //-
    background: rgb(255,100,156);
    background: -moz-linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    background: linear-gradient(45deg, rgba(255,100,156,1) 0%, rgba(150,10,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff649c",endColorstr="#960a96",GradientType=1);

    * {
        cursor: pointer;
        color: #fff;
    }

    .label {
        margin-bottom: 4px;
        font-size: 12px;
        margin-left: auto;
    }

    span {
        font-size: 18px;

        span {
            margin-top: auto;
            font-size: 9px;
            margin-right: 3px;
            margin-bottom: 3px;
        }
    }
}

@media only screen and (max-width: 764px) {
    .cart {

        thead {
            margin-bottom: 8px;

            tr {
                th {
                    font-size: 10px;
                    color: $Text;
                }
            }
        }

        table {
            border-spacing: 8px;

            tbody {

                .img {
                    width: 52px;
                    height: 52px;

                    a {
                        img {
                            width: 52px;
                            height: 52px;
                            @include obj;
                        }
                    }
                }

                .name {

                    h5 {
                        font-size: 11px;
                    }

                    a {
                        font-size: 10px;
                        color: $Text-2;
                        margin-top: 6px;
                    }
                }

                .counter {
                    width: 24px;

                    button {
                        height: 16px !important;
                        min-height: 16px !important;
                        @include border-radius(3px,3px,3px,3px);
                    }

                    label {
                        font-size: 12px;
                    }
                }

                .price {
                    label:first-child {
                        font-size: 11px;
                    }

                    label:last-child {
                        font-size: 14px;
                    }
                }
            }
        }

        .finalize {
            @include row-reverse;
            margin-top: 12px;

            .btn {
                height: 24px;
                min-height: 24px;
                font-size: 11px;
                padding: 2px 4px;
            }

            .price {
                @include row-reverse;
                margin-right: auto;

                h3 {
                    color: $success;
                    margin: 0;
                    font-size: 20px;
                }

                span {
                    color: $success;
                    font-size: 10px;
                    margin-top: auto;
                    margin-right: 5px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}

.details {
    direction: rtl;
    overflow-x: auto;

    table {
        margin: 0;
        margin-top: 8px;
        border-spacing: 8px;

        thead {
            .comp-block {
                @include column;
                grid-gap: 5px;
                -ms-align-content: center;
                -webkit-align-content: center;
                align-content: center;

                * {
                    margin: 0 auto;
                    text-align: center;
                }

                img {
                    @include obj;
                    width: 72px;
                    height: 72px;
                }

                h5 {
                    font-size: 11px;
                }

                label:nth-last-child(2) {
                    color: $danger;
                    text-decoration: line-through;
                    font-size: 12px;
                }

                label:last-child {
                    color: $success;
                    font-size: 15px;
                }

                .t {
                    font-size: 10px;
                }

                .remove {
                    color: #888;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 8px;
                    @include border-radius(3px,3px,3px,3px);
                    min-width: 150px;
                }

                td:first-child {
                    background-color: #F4F4F4;
                    font-size: 12px;
                }

                td:not(:first-child) {
                    background-color: #F9F9F9;
                    font-size: 11px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .details {

        table {
            margin: 0;
            margin-top: 8px;
            border-spacing: 6px;

            tbody {
                tr {
                    td {
                        padding: 6px;
                        @include border-radius(3px,3px,3px,3px);
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

.bookmarks {
    @include grid-gap(224px,8px);
    direction: rtl;

    .product {
        direction: ltr !important;
    }
}

.table {
    border-spacing: 8px 16px;

    .date {
        font-size: 18px;
        color: $Text-2;
    }

    tr {
        height: 32px;
    }
}

@media only screen and (max-width: 960px) {
    .table {
        border-spacing: 6px 12px;

        .date {
            font-size: 15px;
            color: $Text-2;
        }

        th {
            font-size: 12px;
        }

        tr {
            height: 42px;

            td {
                font-size: 13px;
            }
        }
    }
}

.tickets {
    .head {
        @include mat-padding;

        h3 {
            font-size: 18px;
            color: $Text;
        }
    }

    > .body {
        direction: rtl;

        * {
            direction: ltr !important;
        }
    }

    .body {
        padding: 0;
        background-color: #fafafa;
        max-height: 52vh;
        overflow-y: auto;
        border-top: solid #e4e4e4 1px;
        border-bottom: solid #e4e4e4 1px;

        ul {
            padding: 0;
            margin: 0;

            li {
                .ticket-block {
                    border-bottom: solid #e4e4e4 1px;
                    @include mat-padding;

                    .top {
                        @include row-reverse;

                        .name {
                            margin-left: auto;
                            text-align: right;
                        }

                        .date {
                            text-align: left;
                            margin-right: auto;
                            color: $Text-3;
                        }
                    }

                    .text {
                        margin: 10px 0 8px 0;
                        color: $Text-2;
                        text-align: right;
                    }
                }

                .ticket-block.gray {
                    background-color: #f1f1f1;
                    border-right: $primary solid 3px;
                }
            }

            li:last-child {
                .ticket-block {
                    border: 0;
                }
            }
        }
    }

    .foot {
        @include mat-padding;
        @include row;
        grid-gap: 8px;

        .entry {
            flex: auto;
            min-height: 28px !important;
            height: 28px;
        }

        .send {
            margin-bottom: auto !important;
            border: 0;
            background-color: $primary;
            @include border-def-radius;
            color: #fff;
            cursor: pointer;
            padding: 4px;
            max-width: 35px;
            height: 35px;
            width: 35px;
            flex: auto;
        }
    }
}

@media only screen and (max-width: 420px) {
    .tickets {
        .head {
            h3 {
                font-size: 16px;
            }
        }

        .body {
            max-height: calc(100vh - 260px);

            .top {
                .name {
                    font-size: 12px;
                }

                .date {
                    font-size: 11px;
                }
            }

            p {
                font-size: 10px;
            }
        }

        .foot {
        }
    }
}

.procedure {
    display: flex;

    .circles {
        width: 100%;
        display: flex;
        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-align-content: space-between;
        -webkit-align-content: space-between;
        align-content: space-between;

        .circle {
            width: 42px;
            height: 42px;
            margin: auto;
            @include border-circle;
            border: $mat-border-color solid 4px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background-color: #fff;
            position: relative;
            z-index: 5;
        }

        .line {
            position: relative;
            z-index: 0;
            margin-top: 19px;
            height: 4px;
            background-color: $mat-border-color;
            flex: auto;
            margin-left: -36px;
            margin-right: -36px;
        }

        .line.done {
            background-color: $primary;
        }

        .name {
            margin-top: 8px;
            text-align: center;
        }

        .step {
            @include column;
        }

        .step.doing {
            .circle {
                border: $primary 4px solid;
            }
        }

        .step.done {
            .circle {
                background-color: $primary;
                border: $primary 4px solid;
            }
        }
    }
}

@media only screen and (max-width : 380px) {
    .procedure {
        display: flex;

        .circles {
            width: 100%;
            display: flex;

            .circle {
                width: 32px;
                height: 32px;
                border: $mat-border-color solid 4px;
            }

            .line {
                position: relative;
                z-index: 0;
                margin-top: 14px;
            }

            .name {
                margin-top: 8px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}

.comment.unseen {
    border: transparentize($primary,.48) solid 1px;
    background-color: transparentize($primary,.92);

    p {
        color: $primary;
    }
}

.item-list {
    @include border-def-radius;
    border: 1px $mat-border-color solid;

    > * {
        padding: 12px;
        border-bottom: 1px $mat-border-color solid;
    }

    > *:last-child {
        border: 0;
    }
}
