@model IEnumerable<DataLayer.Models.TblTicket>

@{
    ViewData["Title"] = "مرکز پاسخگویی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using GhasreMobile.Utilities

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
                <div class="pr-1 pt-2">
                    <div class="card-form form-row">
                        <div class="form-input">
                            <div class="form-inline">
                                <div class="form-group mx-sm-1 mb-2 mr-1 mr-md-0">
                                    <input id="SearchInputId" class="form-control uk-text-small" type="text" placeholder="کد تیکت" value="">
                                </div>
                                <div class="form-group mx-sm-1 mb-2 mr-1 mr-md-0">
                                    <input id="SearchInputTelNo" class="form-control uk-text-small" type="number" placeholder="شماره تماس" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-toolbar mr-md-3 mr-1">
                            <button onclick="BtnSearch()" type="button" class="btn btn-primary btn-sm">جستجو<span class="icon-holder uk-margin-small-right" uk-icon="search-outline"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!--list region-->
            <div id="card-table" class="card-body flex-div">
                <div class="table-responsive flex">
                    <table class="table fixed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">کد تیکت</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">نام کاربر</th>
                                <th scope="col">تاریخ ثبت</th>
                                <th scope="col">وضعیت</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() == 0)
                            {
                                <tr>
                                    <td colspan="6">تیکتی وجود ندارد</td>
                                </tr>
                            }
                            @foreach (var items in Model.OrderByDescending(c => c.IsAnswerd != true).GroupBy(c => c.ClientId))
                            {
                                var item = items.First();

                                <tr>
                                    <td>#@item.TicketId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Client.Name</td>
                                    <td>@item.DateSubmited.Value.AllToShamsi()</td>
                                    <td>
                                        @if (item.IsAnswerd)
                                        {
                                            <span class="text-success">پاسخ داده شده</span>
                                        }
                                        else
                                        {
                                            <span class="text-warning">پاسخ داده نشده</span>
                                        }
                                    </td>
                                    <td>
                                        <span data-placement="top" data-toggle="tooltip" title="" data-original-title="محتویات تیکت">
                                            <a href="/Admin/Ticket/InnerTicket/@item.ClientId" class="text-primary" uk-icon="information-circle-outline"></a>
                                        </span>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!--end list region-->
            <div class="card-footer bg-white">
                <nav aria-label="Page navigation example">
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        function BtnSearch() {
            var SearchInputId = $("#SearchInputId").val();
            var SearchInputTelNo = $("#SearchInputTelNo").val();
            window.location.href = "/Admin/Ticket?page=1&SearchInputId=" + SearchInputId + "&SearchInputTelNo=" + SearchInputTelNo;
        }
    </script>
}
