@model IEnumerable<TblCatagory>

@foreach (var item in Model)
{
    <section>
        <h4>
            @item.Name
        </h4>
        @if (item.InverseParent.Any())
        {
            <ul>
                @foreach (var j in item.InverseParent)
                {
                    <li>
                        @*<a href="/Search?catId=@j.CatagoryId">@j.Name</a>*@
                        <a href="/ShowCatagory/@j.CatagoryId/@item.Name.Replace(" ","-")">@j.Name</a>
                    </li>
                }
            </ul>
        }

    </section>
}
