@model DataLayer.Models.TblBrand
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        ویرایش برند
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-controller="Brand" asp-action="Edit" asp-area="Admin" method="post"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">
    <input type="hidden" asp-for="BrandId" />
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>نام برند</label>
                <input class="form-control form-control-sm" placeholder="مثال: سامسونگ" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">ویرایش<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
    </div>
</form>
<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>