@model DataLayer.Models.TblAlbum
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        @Model.Name
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body table-responsive">
    <div class="flex row col-12 my-3">
        @foreach (var item in Model.TblImage)
        {
            var format = item.Image.Split(".")[item.Image.Split(".").Length - 1];

            @if (format != "jpg" && format != "png" && format != "jpeg" && format != "PNG")
            {
                <div class="col-6 col-lg-3 col-md-4 mb-3 border-success" id="AlbumImageId-@item.ImageId">
                    <button onclick="DeleteImage(@item.ImageId)" class="bg-light dismissButton" uk-icon="close-outline"></button>
                    <a class="d-inline" href="~/Images/Album/@item.Image" target="_blank" uk-icon="play-outline"></a>
                </div>
            }
            else
            {
                <div class="col-6 col-lg-3 col-md-4 mb-3" id="AlbumImageId-@item.ImageId">
                    <button onclick="DeleteImage(@item.ImageId)" class="bg-light dismissButton" uk-icon="close-outline"></button>
                    <a class="d-inline" href="~/Images/Album/@item.Image" target="_blank">
                        <img class="d-inline" src="/Images/Album/thumb/@item.Image" width="250" height="250" alt="">
                    </a>
                </div>
            }
        }
    </div>


</div>
<div class="modal-footer justify-content-end">
</div>

<script>
    function DeleteImage(id) {
        $.post("/Admin/Album/DeleteImage/" + id, function () {
            $("#AlbumImageId-" + id).remove();
        });
    }
</script>