
@{
    ViewData["Title"] = "فراموش کردن رمز";
    ViewData["Image"] = "/st/r/Entry_1.png";
    Layout = "_AccountLayout.cshtml";
}

<div class="form-block col">

    <h3 class="uk-margin-remove-bottom">
        کد را وارد کنید
    </h3>

    <p class="uk-margin-bottom uk-margin-small-top text-2">
        کد تغییر رمز عبور به شماره شما ارسال گردید
    </p>

    <div class="fg-col">
        <label class="fg-label">کد</label>
        <input class="entry" type="tel" value="" />
        <span class="text-danger"></span>
    </div>

    <div class="fg-col">
        <a href="/Account/ForgotPassword">ارسال دوباره کد تغییر رمز عبور</a>
    </div>

    <div class="actions gap-t">
        <button class="btn btn-primary">تایید</button>
    </div>

</div>