@model LoginVm
@{
    ViewData["Title"] = "ورود";
    ViewData["Image"] = "/st/r/Entry_1.png";
    Layout = "_AccountLayout.cshtml";
}

@section Scripts
{
    <partial name="_CaptchaScripts" />
}

<form asp-action="Login" method="post" asp-area="" class="form-block col"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="LoadingEnd()">
    <partial name="_CaptchaInput" />
    @if (Context.Request.Query["Active"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">حساب کاربری شما فعال شد می توانید وارد حساب خود شوید</p>
        </div>
    }
    @if (Context.Request.Query["ChangePassword"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">رمز شما تغییر یافت می توانید وارد حساب خود شوید</p>
        </div>
    }
    <h3 class="uk-margin-medium-bottom">
        ورود
    </h3>

    <div class="fg-col">
        <label class="fg-label">شماره تلفن</label>
        <input class="entry" type="tel" asp-for="TellNo" />
        <span class="text-danger" asp-validation-for="TellNo"></span>
    </div>

    <div class="fg-col">
        <label class="fg-label">گذر واژه</label>
        <input class="entry" type="password" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="fg-col">
        <label class="row uk-margin-auto-left">
            مرا بخاطر بسپار
            <input type="checkbox" asp-for="RememberMe" class="uk-checkbox" />
        </label>
    </div>

    <div class="fg-col">
        <a href="/ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a>
    </div>

    <div class="actions gap-t">
        <a href="/Register" class="btn btn-link">ثبت نام</a>
        <button class="btn btn-primary" onclick="LoadingRun()">ورود</button>
    </div>

</form>