@model ActiveVm
@{
    ViewData["Title"] = "فعال سازی";
    ViewData["Image"] = "/st/r/Entry_1.png";
    Layout = "_AccountLayout.cshtml";
}

@section Scripts
{
    <partial name="_CaptchaScripts" />
}
<form asp-action="Verify" method="post" asp-area="" class="form-block col"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="LoadingEnd()">
    <partial name="_CaptchaInput" />
    <input type="hidden" asp-for="Tell" />
    <h3 class="uk-margin-remove-bottom">
        احراز هویت
    </h3>
    <p class="uk-margin-bottom uk-margin-small-top text-2">
        کد احراز هویت به شماره شما ارسال گردید
    </p>

    <div class="fg-col">
        <label class="fg-label">کد احراز</label>
        <input class="entry" type="text" asp-for="Auth" />
        <span class="text-danger" asp-validation-for="Auth"></span>
    </div>

    @*<div class="fg-col">
            <a href="/Account/ForgotPassword">ارسال دوباره کد احراز</a>
        </div>*@

    <div class="actions gap-t">
        <button class="btn btn-primary" onclick="LoadingRun()">تایید</button>
    </div>
</form>