@model IEnumerable<TblBlog>
@{
    ViewData["Title"] = "اخبار ها";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<int> idsAdd = (List<int>)ViewData["ListIdAd"];
    Random random = new Random();

    int getNext()
    {
        if (idsAdd.Count > 0)
        {
            int randomIndex = random.Next(0, idsAdd.Count - 1);
            int id = idsAdd[randomIndex];
            idsAdd.Remove(id);
            return id;
        }
        return -1;
    }

}

@section Styles{

    <link href="~/css/pages/blog.min.css" rel="stylesheet" />
}

<nav class="breadcrumb uk-padding-remove gap-b">
    <a href="#">اخبار</a>
    <a href="#" class="active">تمام اخبار</a>
</nav>

<div class="blogs-grid  height">
    @foreach (var item in Model)
    {
        <partial name="_BlogBlock" model="item" />
    }
</div>

<div class="uk-child-width-1-2 row gap-t gap-card">
    @await Component.InvokeAsync("AdView", new {number = getNext() })
    @await Component.InvokeAsync("AdView", new { number = getNext() })
</div>
@*<div class="uk-child-width-1-1 row gap-t gap-card">
    @await Component.InvokeAsync("AdView", new { number = getNext() })
</div>*@