@model TblAlbum
@if (Model != null && Model.TblImage.Count > 0 && Model.TblImage.Any())
{
    <div class="albumBlock mat col uk-overflow-hidden">
        <a href="/AlbumView/@Model.AlbumId/@Model.Name.Replace(" ","-").Replace("/","-")">
            @foreach (var item in Model.TblImage.Where(i => i.Image.Contains(".jpg") || i.Image.Contains(".jpeg") || i.Image.Contains(".png")))
            {
                <img src="~/images/Album/thumb/@item.Image" alt="" />
                break;
            }
        </a>
        <div class="mat-pad col">
            <h2 class="uk-h5"><a href="/AlbumView/@Model.AlbumId/@Model.Name" class="link-text">@Model.Name</a></h2>
            @*<label class="uk-h6 text-3 uk-margin-small-top">4 شنبه 20 آبان</label>*@
        </div>
    </div>
}