@model IEnumerable<TblProduct>
@{
    ViewData["Title"] = ViewData["name"];
    ViewData["Single"] = true;
}

@section Styles{

    <link href="~/css/pages/search.min.css" rel="stylesheet" />
    <link href="~/datePersion/persianDatepicker-default.css" rel="stylesheet" />
}



<div class="search-grid form height">
    <div class="form-header">

        <div class="rowr">

            <nav class="breadcrumb uk-padding-remove">
                @{
                    string namepage = "همه محصولات";
                }
                <a href="/ShowBrand/0/@namepage.Replace(" ","-")">محصولات قصر موبایل</a>
                <a href="/ShowBrand/0/@namepage.Replace(" ","-")">برند</a>
                <a href="#">@ViewData["name"]</a>
            </nav>

        </div>

    </div>
    <div class="grid" id="gridList">

        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <partial name="_ProductBlock" model="item" />
            }
        }
        else
        {
            <p>موردی یافت نشد</p>
        }
    </div>
</div>




@if (Model.Any())
{
    <div class="loading">
        <img src="~/st/v/loading.svg" />
    </div>
}

@section Scripts{
    @if (Model.Any())
    {
        <script>
            var isLoading = false;
        </script>
    }
    else
    {
        <script>
            var isLoading = true;
        </script>
    }


    <input type="hidden" name="id" id="id" value="@ViewData["id"]" />
    <input type="hidden" name="name" id="name" value="@ViewData["name"]" />
    <script>

        let pageCount = 1;
        const myDiv = document.querySelector('.loading');
        window.addEventListener('DOMContentLoaded', () => {

            $(".loading").fadeOut();

            window.addEventListener('scroll', () => {
                var limit = Math.max(document.body.scrollHeight, document.body.offsetHeight,
                    document.documentElement.clientHeight, document.documentElement.scrollHeight, document.documentElement.offsetHeight);

                limit = limit - 969;

                if ((limit - window.scrollY) < 724) {
                    nextPage();
                }
            });
        })

        function nextPage() {
            if (isLoading) return;
            isLoading = true;
            pageCount++;
            $(".loading").fadeIn();
            var id = $('#id').val();
            var name = $('#name').val();
            $.get("/Brand/ScrollBrand?id=" + id + "&name=" + name + "&pageId=" + pageCount, function (result) {
                if (result == false) {
                    isLoading = true;
                    $(".loading").fadeOut();
                    return;
                }
                document.getElementById('gridList').innerHTML += result
                isLoading = false;
                $(".loading").fadeOut();
            });

        }

    </script>
}
