<nav class="user-navigation col">
    <a href="/User/Profile" routeCls="route:/User/Profile; matchFully:true; cls:active; ">پروفایل</a>
    <a href="/User/Profile/ChangePassword" routeCls="route:/User/Profile/ChangePassword; matchFully:true; cls:active; ">تغییر رمز عبور</a>
    <a href="/User/Wallet" routeCls="route:/User/Wallet; matchFully:true; cls:active; ">کیف پول</a>
    <a href="/User/Cart" routeCls="route:/User/Cart; cls:active; ">سبد خرید</a>
    <a href="/User/Comparison" routeCls="route:/User/Comparison; matchFully:true; cls:active; ">لیست مقایسه</a>
    <a href="/User/Order" routeCls="route:/User/Order; matchFully:true; cls:active; ">سابقه خرید ها</a>
    <a href="/User/Order/Fractionals" routeCls="route:/User/Order/Fractionals; matchFully:true; cls:active; ">سابقه خرید اقساطی</a>
    <a href="/User/Bookmarks" routeCls="route:/User/Bookmarks; matchFully:true; cls:active; ">لیست علاقه مندی ها</a>
    <a href="/User/Ticket" routeCls="route:/User/Ticket; matchFully:true; cls:active; ">پشتیبانی</a>
    <a href="/User/Order/OnlineOrder" routeCls="route:/User/Order/OnlineOrder; matchFully:true; cls:active; ">سفارش آنلاین</a>
</nav>
