@import '_colors.scss';
@import '_layout.scss';
@import '_starRating.scss';
@import '_animations.scss';

button, .btn, a, a:hover .js-upload, input[type=file] {
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
}

.btn {
    display: inline-block;
    min-height: 27px;
    @include border-def-radius;
    border: 0;
    padding: 4px 15px;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: padding-box;
    @include trans(.3s);

    span {
        white-space: nowrap;
    }
}

@mixin btn-click-glow {
    $intensinty: 0.32;
    -moz-box-shadow: 0 0 9px transparentize($primary,1 - $intensinty);
    -webkit-box-shadow: 0 0 9px transparentize($primary,1 -$intensinty);
    box-shadow: 0 0 9px transparentize($primary,1 -$intensinty);
}

@mixin btn-static-shadow {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

@mixin component-border {
    border: 1px #ddd solid;
}

//-

a.btn {
    line-height: 27px;
}

a.btn.btn-primary:hover {
    color: white;
}

.link-text {
    color: $Text;
    @include trans(.2s);
    cursor: pointer;
}

.link-text:hover, .link-active {
    color: $primary !important;
}

.link-text:active {
    color: $primary-light;
}

//-

.btn-icon {
    border: 0;
    background-color: transparent;
    min-height: 20px;
    min-width: 20px;
    padding: 8px;
    @include trans(.2s);
    color: #555;
}

.btn-icon:hover {
    background-color: transparentize(#000,.94);
    color: #444;
}

.btn-icon:active {
    background-color: transparentize(#000,.88);
    @include trans(.0s);
}

//-

.btn-primary {
    border: 0;
    background-color: $primary;
    color: white;
    @include btn-static-shadow;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: $primary-light;
}

.btn-primary:active {
    background-color: $primary-dark;
    @include btn-click-glow;
    transition: background-color ease .2s;
}

//-

.btn-secondary {
    @include component-border;
    background-color: transparent;
    color: lighten($Text,12%);
    @include btn-static-shadow;
}

.btn-dashed {
    border: 1px #ddd dashed;
    background-color: transparent;
    color: $Text;
    @include btn-static-shadow;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-dashed:hover, .btn-dashed:focus {
    border-color: $primary;
    color: $primary-light;
}

.btn-secondary:active, .btn-dashed:active {
    border-color: $primary-dark;
    color: $primary-dark;
    @include btn-click-glow;
    transition: background-color ease .2s;
}

//-

.btn-text {
    background: rgba(0,0,0,.00);
    color: $Text;
}

.btn-text:hover, .btn-text:focus {
    background: rgba(0,0,0,.04);
}

.btn-text:active {
    background: transparentize($primary-dark,.96);
}

//-

.btn-link {
    background: rgba(0,0,0,.0);
    color: $link;
}

.btn-link:hover, .btn-link:focus {
    text-shadow: 0 0 5px transparentize($primary-dark,.64);
}

.btn-link:active {
    background: #E6F7FF;
}

//-

.text {
    color: $Text;
}

.text-2 {
    color: $Text-2
}

.text-3 {
    color: $Text-3
}

.text-4 {
    color: $Text-4
}

//-

input:not(input[type=checkbox]):not(input[type=radio]) {
    font-size: 13px;
    min-height: 27px;
}

/*#region Form */

.entry {
    background: transparent;
    padding: 3px 8px;
    direction: rtl;
    font-size: 13px;
    @include component-border;
    @include border-def-radius;
    @include placeholder(#ddd);
    @include trans(.3s);
}

.entry:hover, .entry:focus {
    border: 1px $primary solid;
}

.entry:focus {
    @include btn-click-glow;
}

.entry:disabled, .entry[disabled] {
    background: #F5F5F5;
    color: #BFBFBF;
    cursor: not-allowed;
}

.entry-invis {
    background: transparent;
    padding: 4px 11px;
    direction: rtl;
    border: 0;
    color: $Text;
}

@media only screen and (max-width: 400px) {
    .entry {
        background: transparent;
        padding: 2px 8px;
        direction: rtl;
        min-height: 24px;
        font-size: 12px;
        @include component-border;
        @include border-def-radius;
        @include placeholder(#ddd);
        @include trans(.3s);
    }
}

textarea {
    resize: vertical;
    -moz-transition-property: border-color, box-shadow !important;
    -o-transition-property: border-color, box-shadow !important;
    -webkit-transition-property: border-color, box-shadow !important;
    transition-property: border-color, box-shadow !important;
    margin-bottom: 0;
    min-height: 28px;
    height: 72px;
}

.fg-col {
    margin-bottom: 20px;
    @include column;

    .fg-label {
        font-size: 14px;
        color: $Text;
        margin-bottom: 8px;
    }

    .text-danger {
        margin-top: 8px;
        color: #DA4B1E;
        font-size: 13px;
    }

    .radio {
        display: flex;
        margin: 6px 0 6px auto;
    }

    select.entry {
        height: 35px;
    }

    input[type=color] {
        padding: 0 2px;
        width: 48px;
        border: dashed 1px #aaa;
        height: 32px;
        @include border-def-radius;
    }
}

.fg-col:last-child {
    margin-bottom: 6px;
}

.fg-required {
    .fg-label:before {
        content: "*";
        color: $danger;
        font-size: 16px;
    }
}

.form {
    $padding: 12px;
    @include mat;

    &-header {
        padding: $padding;
        border-bottom: solid #e5e5e5 1px;
    }

    &-body {
        padding: $padding;
        @include column;
    }

    &-footer {
        border-top: solid #e5e5e5 1px;
        padding: $padding;
        @include row-reverse;
        grid-gap: 12px;
    }
}

.forms {
    @include grid-gap(230px,16px)
}

/*#endregion */
/*#region Main */

$grid-gap: 16px;
$aside-width: 342px;

.m {
    display: grid;
    grid-template-columns: 1fr $aside-width;
    grid-gap: $grid-gap;

    .m-aside {
        @include column;
        grid-gap: $grid-gap;
        width: $aside-width;
        min-width: $aside-width;
    }

    .m-content {
        @include column;
        width: auto !important;
        min-width: 0;
        grid-gap: $grid-gap;
    }
}

@media only screen and (max-width: 960px) {
    .m {
        grid-template-columns: 1fr;

        .m-aside {
            display: none;
        }
    }
}

.gap-t {
    margin-top: $grid-gap;
}

.gap-b {
    margin-bottom: $grid-gap;
}

.gap-l {
    margin-left: $grid-gap;
}

.gap-r {
    margin-right: $grid-gap;
}

/*#endregion */
.dropdown {
    background: #fff;
    padding: 0;
    @include shadow-medium;
    @include border-def-radius;
    border: 1px #dfdfdf solid;

    .dropdown-list {
        @include column;
        margin-bottom: 0;

        li {
            @include trans(.2s);

            a {
                padding: 10px 12px;
                color: lighten($Text,12%);
                height: 100%;
            }

            a, span {
                white-space: nowrap !important;
            }
        }

        li:hover {
            background-color: transparentize(#000,0.94);
        }

        li:active {
            background-color: transparentize(#000,0.86);
            @include trans(0s);
        }
    }
}

$between-card-margin: 16px;

.margin-between {
    margin-bottom: $between-card-margin;
}

$card-padding: 16px;

.gap-card {
    grid-gap: $card-padding;
}

.card {
    @include mat;
    margin-bottom: $between-card-margin;
    @include shadow-medium;
    padding: $card-padding;
}

/*#region tbl */
.controls-grid {
    @include row-reverse;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    grid-gap: 12px;

    .entry {
        min-width: 160px;
    }

    label {
        margin: auto 0;

        .uk-checkbox {
            width: 28px;
            height: 28px;
            padding: 0 !important;
            margin: auto 0 auto 8px;
        }
    }
}

$background-odd: #f9f9f9;
$background-highlight: #eee;

.scrollh-container {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.tbl {
    direction: rtl;
    border-spacing: 0;

    .actions {
        @include row;
        grid-gap: 12px;

        * {
            margin: auto 0;
        }
    }

    td:first-child, th:first-child {
        min-width: 28px !important;
        width: 28px !important;
        background-color: transparentize(darken($primary-light,8%),.96);
    }

    td, th {
        height: 48px;
        padding: 0 20px;
        min-width: 150px;
    }

    tbody {

        tr {
            width: 100%;
            @include trans(.4s);
        }

        tr:nth-child(2n+1) {
            background-color: $background-odd;
        }

        tr:hover {
            background-color: $background-highlight;
            @include trans(.1s);
        }
    }

    .btn-link:hover {
        background-color: transparent;
    }

    .btn-link:active {
        color: darken($primary-dark,18%);
    }
}
/*#endregion */

.header {
    @include column;
    width: 100%;
    position: fixed;
    z-index: 500;

    .biscuit {
        width: 100%;
        height: auto;
        max-height: 50px;
        background-color: #EFF1F5;
        @include obj;
    }

    .top {
        padding-bottom: 12px;
        background-color: #EFF1F5;

        .uk-container {
            grid-column-gap: 10px;

            nav {
            }
        }

        .logo {
            padding: 4px;
            filter: drop-shadow(2px 2px 8px rgba(0,0,0,.20));
            background-color: #fff;
            @include border-circle;
            margin-left: 12px;

            img {
                width: 48px;
                height: 48px;
                @include border-circle;
                @include obj;
            }
        }

        .adv {
            display: block;
            @include trans(.2s);
            @include border-def-radius;
            margin: auto 0;
            height: 39px;
            padding: 0 6px;
            -ms-flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;

            span {
                text-wrap: none;
                white-space: nowrap;
            }
        }


        @media only screen and (max-width: 960px) {

            .adv {
                height: 32px;
            }

            .w {
                display: none;
            }
        }

        .search {
            @include mat;
            @include border-def-radius;
            @include shadow-mild;
            padding: 2px 6px 2px 6px;
            margin: auto 0;
            flex: auto;
            max-width: 624px;
            display: flex;

            > span {
                margin-right: auto;
                margin-top: auto;
                margin-bottom: auto;
                height: 22px;
                min-height: 22px;
                color: #888;
            }



            #txtSearchMain {
                color: $Text;
                @include placeholder($Text-5);
                flex: auto;
            }
        }

        .cart {
            @include mat;
            @include border-def-radius;
            @include shadow-mild;
            @include row;
            margin-right: auto;
            background-color: $primary;
            margin: auto auto auto 0;
            padding: 1px;
            overflow: hidden;
            height: 37px;

            .icon {
                background-color: #9D189D;
                border: 0;
                padding: 6px;

                span {
                    color: #fff;
                }
            }

            .label {
                color: #fff;
                margin: auto;
                padding-left: 12px;
                vertical-align: central;
            }

            .badge {
                color: $primary;
                background-color: #fff;
                margin: auto 12px;
                padding: 0 4px;
                @include border-circle;
                display: flex;
                max-width: 21px;
                max-height: 21px;

                span {
                    margin: auto;
                    min-width: 8px;
                }
            }
        }
    }

    .bottom {
        @include mat;
        @include shadow-mild;
        padding: 10px 0;

        nav {
            padding: 0;
            margin-left: auto;
            @include row-reverse;

            a, button {
                color: $Text;
                @include trans(.2s);
                -moz-transition-property: color;
                -o-transition-property: color;
                -webkit-transition-property: color;
                transition-property: color;
                height: auto;
                margin: auto 0;
            }

            a:before {
                content: "";
                border-left: dashed $Text-3 1px;
                margin: 0 20px;
            }

            a:hover, button:hover {
                color: $primary;
            }
        }

        .profile {
            margin-right: auto;
            height: 100%;
            background-color: transparent;
            border: 0;
            @include row;

            span {
                margin-right: 4px;
                vertical-align: central;
                text-align: center;
                color: $Text;
                height: 0 !important;
            }

            .uk-icon {
                margin-left: 4px;
            }
        }
    }
}

#dropSearch {

    $padding: 12px;

    a {
        padding: ($padding - 4px) $padding;
        @include trans(.2s);
        color: $Text;
        font-size: 13px;

        strong {
            color: $primary;
            font-size: 13px;
        }
    }

    a:hover {
        background-color: darken(#fff,6%);
    }

    a:active {
        background-color: darken(#fff,12%);
    }

    a:last-child {
        padding-bottom: $padding;
    }
}

@media only screen and (max-width: 960px) {

    .header {

        .biscuit {
            display: none !important
        }

        .top {
            padding-bottom: 8px;
            padding-top: 8px;
            background-color: #fff;
            -moz-box-shadow: 0;
            -webkit-box-shadow: 0;
            box-shadow: 0;
            border-bottom: 1px solid #eee;

            .uk-container {
                grid-column-gap: 8px;
            }

            .logo {
                padding: 2px;
                filter: unset;
                background-color: #fff;
                @include border-circle;
                min-width: 38px;
                margin-left: 0px;

                img {
                    width: 42px;
                    height: 42px;
                    @include border-circle;
                    @include obj;
                }
            }

            .search {
                background-color: #F3F3F4;
                @include border-def-radius;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                padding: 0 6px 0 6px;
                margin: auto 0;
                width: 100%;
                display: flex;

                span {
                    color: #CECECE;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                #txtSearchMain {
                    color: $Text-2;
                    font-size: 12px;
                    @include placeholder(#CECECE);
                    width: calc(100% - 48px);
                    min-height: 24px;
                }
            }

            .cart {
                @include mat;
                @include border-def-radius;
                @include shadow-mild;
                @include row;
                margin-right: auto;
                background-color: $primary;
                margin: auto auto auto 0;
                padding: 0px;
                height: 32px;
                overflow: hidden;
                min-width: 144px;

                .icon {
                    background-color: #9D189D;
                    border: 0;
                    padding: 4px;

                    span {
                        color: #fff;
                    }
                }

                .label {
                    color: #fff;
                    margin: auto;
                    padding-left: 12px;
                    vertical-align: central;
                    font-size: 13px;
                }

                .badge {
                    color: $primary;
                    background-color: #fff;
                    margin: auto 12px;
                    padding: 0;
                    height: 19px;
                    width: 19px;
                    @include border-circle;
                    display: flex;
                    max-width: 21px;
                    max-height: 21px;
                    font-size: 13px;

                    span {
                        margin: auto;
                    }
                }
            }
        }

        .bottom {
            z-index: 10;
            @include mat;
            @include shadow-mild;
            padding: 10px 0;
            background-color: #F8F8F8;
            border: 0;
            @include border-radius(0,0,0,0);

            nav {
                padding: 0;
                margin-left: auto;
                flex: auto;
                -ms-align-content: space-between;
                -webkit-align-content: space-between;
                align-content: space-between;

                a {
                    font-size: 13px;
                    color: $Text;
                }

                a:before {
                    content: "";
                    border-left: none;
                    margin: 0 8px;
                }

                svg {
                    height: 20px;
                    width: 20px;
                }
            }

            .profile {
                margin-right: auto;

                span {
                    color: $Text;
                    font-size: 13px;
                }

                .uk-icon {
                    margin-left: -3px;
                    height: 20px;
                    width: 20px;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}

//-

@media only screen and (max-width: 696px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(1) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 590px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(3) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 496px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(4) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 432px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(5) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 356px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(6) {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 280px) {
    .header {
        .bottom {
            nav {
                a:nth-last-child(7) {
                    display: none;
                }
            }
        }
    }
}

//-

@media only screen and (max-width: 512px) {
    .header {

        .top {
            .cart {
                min-width: 70px;

                .icon {
                    margin: auto;
                    background-color: $primary;
                }

                .badge {
                    margin: auto 6px auto 8px;
                }

                .label {
                    display: none;
                }
            }
        }
    }
}

.dot-container {
    @include row-reverse;

    .dot {
        margin: auto 0;
        margin-left: 6px;
    }

    .dot + * {
        margin: 0;
    }
}

.dot {
    height: 20px;
    width: 20px;
}

.title {
    padding: 12px;

    h3 {
        font-size: 16px;
    }

    .dot {
        width: 16px;
        height: 16px;
    }
}

.product {
    padding: 12px 3px;
    margin: 0 4px;
    @include column;
    background-color: #fff;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    z-index: 30;
    @include trans(.3s);
    @include border-def-radius;

    * {
        text-align: center;
    }

    .star-container {
        margin: auto;

        .Stars {
            font-size: 20px;
        }
    }

    .people {
        margin: auto;
        color: $Text-4;
        font-size: 12px;
    }

    img {
        margin: auto;
        margin-top: 8px;
        margin-bottom: 8px;
        min-height: 92px;
        min-width: 92px;
        background-color: #efefef;
        @include obj;
        max-height: 192px;
    }

    .name {
        color: $Text;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 4px;
        height: 40px;
        padding: 0 2px;

        @include max-line(2);
    }

    .category {
        color: $Text-3;
        margin-top: 2px;
        font-size: 13px;
    }

    .discount {
        margin-top: 6px;
        color: $danger;
        text-decoration: line-through;
        font-size: 16px;
    }

    .price {
        margin: 0 auto;
        margin-top: 2px;
        @include row;
        color: $Text;
        font-size: 20px;

        .t {
            margin-top: auto;
            margin-bottom: 5px;
            margin-right: 4px;
            font-size: 10px;
        }
    }

    .unavailable {
        @include column;
        height: 24px + 30px + 8px;

        span {
            margin: auto;
            font-size: 16px;
            color: $Text-2;
            margin-bottom: 6px;
        }
    }
}

.product:hover {
    @include shadow-mild;
    z-index: 50 !important;
}

@media only screen and (max-width: 480px) {
    .product {
        padding: 6px 4px;
        margin: 0 4px;

        .people {
            margin: 0 auto;
            font-size: 10px;
        }

        .name {
            color: $Text;
            font-size: 11px;
            margin-top: 8px;
            margin-bottom: 4px;
            height: 30px;
            max-height: 30px;
            padding: 0 3px;
            @include max-line(2);
        }

        img {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .category {
            color: $Text-3;
            margin-top: 3px;
            font-size: 10px;
        }

        .discount {
            margin-top: 5px;
            font-size: 14px;
        }

        .price {
            margin: 0 auto;
            margin-top: 2px;
            @include row;
            color: $Text;
            font-size: 16px;

            .t {
                font-size: 9px;
            }
        }
    }
}

.navigation {
    height: 16px;

    li {
        margin: auto 0;
        @include row;

        a {
            content: "•";
            border: 1px $Text solid !important;
            background-color: transparent;
            margin: auto;
            @include trans(.3s);
        }
    }

    li.uk-active {
        a {
            margin: auto;
            width: 16px;
            height: 16px;
            border-color: $primary !important;
            background-color: $primary !important;
        }
    }
}

.product-slider {
    @include mat;
    @include border-def-radius;
    @include shadow-mild;

    .title {
        border-bottom: 1px solid $mat-border-color;
        padding: 12px;

        h3 {
            font-size: 16px;
        }

        .dot {
            width: 16px;
            height: 16px;
        }
    }

    .uk-slider-items {
        padding: 4px 0;
        border-bottom: 0;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        width: unset;
        max-width: unset;
    }
}

@media only screen and (min-width: 1200px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 33.33%;
            }
        }
    }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 50%;
            }
        }
    }
}

@media only screen and (min-width: 864px) and (max-width: 960px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 33.33%;
            }
        }
    }
}

@media only screen and (max-width: 864px) {
    .product-slider {
        .uk-slider-items {

            li {
                width: 50%;
            }
        }
    }
}

.product-express {

    .head {
        @include row-reverse;
        border-bottom: 1px solid $mat-border-color;
        position: relative;
        @include mat-padding;

        h3 {
            color: $Text;
            font-size: 20px;
            vertical-align: central;
            margin: auto 0;
        }

        .timer {
            @include row;
            grid-column-gap: 9px;
            margin-top: 0;
            margin-right: auto;

            li {
                @include column;

                label {
                    margin: 0 auto;
                    font-size: 15px;
                    line-height: 1;
                    background-color: #F5F5F5;
                    min-width: 16px !important;
                    max-width: 16px !important;
                    text-align: center;
                    padding: 6px;
                    color: $Text-2;
                    @include border-radius(9px,9px,9px,9px);
                }

                span {
                    margin: 0 auto;
                    margin-top: 4px;
                    font-size: 9px;
                    color: $Text-2;
                }
            }
        }
    }

    .body {
        position: relative;
        @include mat-padding;
        @include column;

        > a {
            display: flex;

            img {
                margin: auto;
                max-height: 264px;
            }
        }

        .star {
            position: absolute;
            left: 12px;
            top: 12px;
            @include column;
            color: #FFCA35;

            label {
                margin: 0 auto;
                @include row;

                span {
                    color: #FFCA35;
                    margin: auto;
                    margin-right: 4px;
                    font-size: 16px
                }
            }

            span {
                margin: 4px auto;
                color: $Text-4;
                font-size: 11px
            }
        }

        .colours {
            position: absolute;
            right: 12px;
            top: 12px;
            @include column;
            margin: 0;
            grid-gap: 16px;

            li {
                @include border-circle;
                width: 12px;
                height: 12px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
        }

        .link-text {

            .name {
                margin: auto;
                margin-bottom: 8px;
                text-align: center;
                font-size: 18px;
            }
        }

        .discount {
            margin: auto;

            span {
                color: $danger;
                text-decoration: line-through;
                text-align: center;
                font-size: 18px;
            }
        }

        .price {
            margin: auto;
            @include row;

            .t {
                font-size: 11px;
                margin-top: auto;
                margin-bottom: 5px;
                margin-right: 3px;
            }

            span {
                font-size: 24px;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 664px) {

    .product-express {

        .head {
            @include column;
            grid-gap: 10px;
            border-bottom: 0 !important;

            h3 {
                margin: auto;
                text-align: center;
            }

            .timer {
                margin: auto;
                margin-bottom: -16px;
                z-index: 10;
                position: relative;
            }
        }

        .body {
            position: relative;
            @include mat-padding;
            @include column;

            .star {
                position: absolute;
                left: 12px;
                top: 12px;
                @include column;
                color: #FFCA35;

                label {
                    margin: 0 auto;
                    @include row;

                    span {
                        color: #FFCA35;
                        margin: auto;
                        margin-right: 4px;
                        font-size: 16px
                    }
                }

                span {
                    margin: 4px auto;
                    color: $Text-4;
                    font-size: 11px
                }
            }

            .colours {
                position: absolute;
                right: 12px;
                top: 12px;
                @include column;
                margin: 0;
                grid-gap: 16px;

                li {
                    @include border-circle;
                    width: 12px;
                    height: 12px;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }
            }

            .link-text {

                .name {
                    margin: auto;
                    margin-bottom: 6px;
                    text-align: center;
                    font-size: 16px;
                }
            }

            .discount {
                margin: auto;

                span {
                    color: $danger;
                    text-decoration: line-through;
                    text-align: center;
                    font-size: 18px;
                }
            }

            .price {
                margin: auto;
                @include row;

                .t {
                    font-size: 11px;
                    margin-top: auto;
                    margin-bottom: 5px;
                    margin-right: 3px;
                }

                span {
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
}

.ad {
    @include mat;
    overflow: hidden;
    display: block;

    img {
        @include obj;
        width: 100%;
        height: auto;
        max-height: 364px;
    }
}

.blog-block {
    img {
        @include obj;
        width: 100%;
        height: 240px;
    }

    h3 {
        color: $Text;
        margin: 6px 0;
        font-size: 17px;
    }

    p {
        color: $Text-3;
        @include max-line(3);
        font-size: 13px;
        margin: 0;
    }

    .row {
        a {
            color: $primary;
        }

        label {
            color: $Text-4;
            margin-right: auto;
        }
    }
}

@media only screen and (max-width: 380px) {
    .blog-block {

        h3 {
            margin: 5px 0;
            font-size: 15px;
        }

        p {
            @include max-line(3);
            font-size: 11px;
            margin: 0;
        }
    }
}

footer {
    background-color: #222332;
    padding: 30px 0;
    background-image: url('../st/v/footer/City.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 28px;

    .uk-container {

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr 1fr;
            grid-gap: 8px;
            direction: rtl;

            h4 {
                margin-bottom: 16px;
            }

            .certificates {

                .slideshow {
                    max-width: 124px;
                    max-height: 124px;
                }
            }

            ul {

                li {
                    color: #9294B1;
                    margin: 8px 0;

                    a, span {
                        color: #999bb9;
                    }

                    a:hover, span:hover {
                        color: lighten(#999bb9,12%);
                    }
                }
            }

            p {
                color: #9294B1;
            }

            .links {
            }

            .intro {
                padding-left: 20px;
                border-left: 1px #4A4E61 dashed;
                margin-left: 20px;
            }

            .contact {

                .media {

                    a {

                        img {
                        }
                    }
                }
            }
        }

        hr {
            color: #4A4E61;
            border: #4A4E61 dashed 1px;
        }

        p {
        }
    }
}

@media only screen and (min-width: 532px) and (max-width: 960px) {
    footer {

        .uk-container {

            .grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 16px;

                .intro {
                    padding-left: 10px;
                    border-left: 0;
                    margin-left: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 532px) {
    footer {

        .uk-container {

            .grid {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                grid-gap: 18px;
                /*.intro {
                    border-left: 0;
                }

                .intro {
                    padding-left: 0;
                    border-left: 0;
                    margin-left: 0;
                }*/
                .intro {
                    display: none;
                }

                .certificates {
                    margin-bottom: 32px;

                    .slideshow {
                        max-width: 124px;
                        max-height: 124px;
                    }
                }
            }
        }
    }
}

.breadcrumb {
    @include row-reverse;
    padding-bottom: 8px;
    width: 100%;

    a {
        font-size: 13px;
        color: $Text-2;
        @include trans(.2s);
    }

    a:hover {
        color: $primary;
    }

    a:not(:last-child):before {
        content: "/";
        margin: 0 8px;
        color: $Text-2 !important;
    }

    .active {
        color: $Text;
    }
}

.comment-section {
    position: relative;

    h3 {
        font-size: 20px;
        color: $Text;
    }

    ul {
        @include column;
        grid-gap: 12px;
        margin-top: 0;
    }

    > ul {
        position: relative;
    }

    .comment {
        background: #F8F8F8;
        border: $mat-border-color 1px solid;
        @include mat-padding;
        @include border-def-radius;
        @include column;

        .head {
            @include row-reverse;

            h5 {
                font-size: 16px;
                color: $Text;
            }

            .date {
                direction: rtl;
                margin-right: auto;
                color: $Text-3;
                font-size: 13px;
            }
        }

        p {
            margin: 8px 0;
            color: $Text-2;
            font-size: 14px;
        }

        .action {
            @include row;
            /*border-bottom: $mat-border-color 1px solid;*/
        }

        .text {
            @include column;

            .entry {
                background: #fff;
            }
        }

        ul {
            padding-right: 16px;
            padding-left: 0;

            li {
                .comment {
                    padding: 0;
                    border: 0;

                    .head {
                        padding-top: 24px;

                        h5 {
                            font-size: 14px;
                        }

                        .date {
                            font-size: 11px;
                        }
                    }

                    .head::before {
                        content: "";
                        height: 1px;
                        background: $mat-border-color;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin-top: -20px;
                    }

                    p {
                        margin: 6px 0;
                        color: $Text-2;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 542px) {

    .comment-section {

        h3 {
            font-size: 17px;
            color: $Text;
        }

        ul {
            grid-gap: 10px;
        }

        .comment {

            .head {

                h5 {
                    font-size: 15px;
                    color: $Text;
                }

                .date {
                    direction: rtl;
                    margin-right: auto;
                    color: $Text-3;
                    font-size: 13px;
                }
            }

            p {
                margin: 8px 0;
                color: $Text-2;
                font-size: 13px;
            }

            .actions {
                @include row-reverse;

                a {
                    color: $Text-4;
                    @include trans(.2s);
                }

                a:hover {
                    color: $primary;
                }
            }
        }
    }
}

#dropbar {
    overflow: hidden;
    display: block;
    max-height: 0;

    .uk-container {
        background: #fff;
        border-right: 3px solid $primary;
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
        border-left: 1px solid #E5E5E5;
        @include shadow-mild;

        .grid {
            @include grid-gap(156px,12px);
            @include trans(.2s);
            direction: rtl;

            section {
                h4 {
                    color: $Text
                }

                ul {
                    @include column;

                    li {
                        height: auto;

                        a {
                            color: $Text-2;
                            @include trans(.2s);
                        }

                        a:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    #dropbar {
        height: calc(100vh - 108px);
        overflow-y: auto !important;
        direction: rtl;
    }
}

@media only screen and (max-width: 380px) {
    #dropbar {

        .uk-container {

            .grid {
                @include grid-gap(124px,10px);
                @include trans(.2s);
                direction: rtl;

                section {
                    h4 {
                        color: $Text;
                        font-size: 15px;
                    }

                    ul {
                        @include column;

                        li {
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.show-on-threshold {
    display: none;
}

.hide-on-threshold {
    display: block;
}

@media only screen and (max-width: 960px) {
    .show-on-threshold {
        display: block;
    }

    .hide-on-threshold {
        display: none;
    }
}

.g-1 {
    grid-gap: 6px;
}

.g-2 {
    grid-gap: 8px;
}

.g-3 {
    grid-gap: 12px;
}

#offCanvas {
    a {
        @include row-reverse;
        color: $Text-2;
        @include trans(.2s);
        padding: 12px 16px;
        @include border-def-radius;
        border-top: 1px dashed $Text-5;

        .uk-icon {
            margin-left: 6px;
        }
    }

    a:hover {
        background-color: #f5f5f5;
    }
}

.badge {
    background-color: $primary;
    text-align: center;
    @include border-radius(6px,6px,6px,6px);
    padding: 3px;
    color: white;
    font-size: 11px;
}

@media only screen and (min-width: 960px) {
    .swap-doubler {
        display: none;
    }
}

@media only screen and (min-width: 500px) and (max-width: 960px) {

    .swap-doubler {
        @include row;
        grid-gap: 12px;

        > * {
            flex: 1;
        }
    }
}

@media only screen and (max-width: 500px) {

    .swap-doubler {
        @include column;
        grid-gap: 12px;

        > * {
            flex: 1;
        }
    }
}

div[role=none][id] {
    display: none;
}

.user-navigation {
    padding: 0;
    margin: 0;
    position: relative;

    a {
        color: #787878;
        padding: 12px 0 12px 20px;
        border-left: 2px #D8D8D8 solid;
        text-align: left;
        @include trans(.2s);
        display: block;
        white-space: nowrap;
    }

    a:hover {
        color: $primary;
    }

    a.active {
        border-left: 4px $primary solid;
    }
}

.anchor-within-page {
    position: absolute;
    margin-top: -1 * ($nav-header-height + 18px);
}


.cart {
    @include column;

    table {
        border-spacing: 12px;

        tbody {

            .img {
                width: 72px;
                height: 72px;

                a {
                    img {
                        width: 72px;
                        height: 72px;
                    }
                }
            }

            .name {

                h5 {
                    font-size: 14px;
                    color: $Text;
                    @include max-line(2);
                }

                a {
                    font-size: 13px;
                    color: $Text-2;
                    margin-top: 6px;
                    @include max-line(1);
                }
            }

            .counter {
                @include column;
                background-color: #f5f5f5;
                margin-left: auto;
                width: 28px;
                overflow: hidden;
                @include border-radius(6px,6px,6px,6px);

                button {
                    outline: none;
                    border: 0;
                    height: 22px !important;
                    min-height: 22px !important;
                    color: $Text-2;
                    font-size: 12px;
                    @include trans(.2s);
                }

                button:hover {
                    background-color: #e8e8e8;
                    color: $Text;
                }

                label {
                    text-align: center;
                    font-size: 16px;
                    border-top: #e3e3e3 solid 1px;
                    border-bottom: #e3e3e3 solid 1px;
                }
            }

            .price {
                label:first-child {
                    color: $danger;
                    font-size: 16px;
                    text-decoration: line-through;
                }

                label:last-child {
                    color: $Text-2;
                    font-size: 20px;
                }
            }
        }
    }

    .finalize {
        @include row-reverse;
        margin-top: 12px;

        .price {
            @include row-reverse;
            margin-right: auto;

            h3 {
                color: $success;
                margin: 0;
                font-size: 24px;
            }

            span {
                color: $success;
                font-size: 11px;
                margin-top: auto;
                margin-right: 5px;
                margin-bottom: 7px;
            }
        }
    }
}

.text-primary {
    color: $primary !important;
}

.btn-primary-gradient {
    @include subtle-glow(transparentize($primary,.72));
    color: #fff;
    background: rgb(179,20,136);
    background: -moz-linear-gradient(0deg, rgba(179,20,136,1) 0%, rgba(130,1,129,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(179,20,136,1) 0%, rgba(130,1,129,1) 100%);
    background: linear-gradient(0deg, rgba(179,20,136,1) 0%, rgba(130,1,129,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b31488",endColorstr="#820181",GradientType=1);
    @include border-radius(8px,8px,8px,8px);
}

.opacity-0 {
    opacity: 0;
}
