<nav class="user-navigation col">
    <a href="/ShopCart" routeCls="route:/ShopCart;matchFully:true;cls:active">سبد خرید</a>
    <a href="/ShopCart/Comparison" routeCls="route:/ShopCart/Comparison;matchFully:true;cls:active">لیست مقایسه</a>
    @*<a href="/ShopCart/Bookmarks">لیست علاقه مندی ها</a>*@
</nav>