
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "_ShopCartLayout.cshtml";
}

<div class="bookmarks mat-card">
    @* foreach *@
    @*<partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />
    <partial name="_ProductBlock" />*@
</div>
