@model DataLayer.ViewModels.VerifyResultData
<div class="container uk-margin-auto-bottom mat-pad" style="height:50vh">
    <div class="">

        <div class="uk-alert uk-alert-danger">
            <h2>پرداخت با موفقیت انجام نشد</h2>

            <p>@Model.ResCode - @Model.Description</p>

        </div>

    </div>
</div>