@model DataLayer.ViewModels.VerifyResultData

<div class="container uk-margin-auto-bottom mat-pad" style="height:50vh">
    <div class="">

        <div class="uk-alert uk-alert-success">
            <h2>عملیات با موفقیت انجام شد</h2>
            <p>@Model.ResCode - @Model.Description</p>
            <p>شماره پیگیری :@Model.RetrivalRefNo </p>
            <p>شماره مرجع :@Model.SystemTraceNo </p>
        </div>
    </div>
</div>