@model SendCommentVm
<div class="mat-card">
    <h4>
        نظر شما
    </h4>
    <form id="ajaxresultSendCommentTopic" class="fg-col uk-margin-small-top" action="/Forum/SendComment" method="post"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-complete="SendCommentTopic()"
          data-ajax-update="#ajaxresultSendCommentTopic">
        <textarea class="entry" asp-for="Body" maxlength="300"></textarea>
        <span class="text-danger" asp-validation-for="Body"></span>
        <input type="hidden" id="TopicId" asp-for="TopicId" name="TopicId" />
        <div class="rowr uk-margin-small-top">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="submit" class="btn btn-primary uk-margin-auto-top" onclick="LoadingRun('#ajaxresultSendCommentTopic')">ثبت نظر</button>
            }
            else
            {
                <a href="/Login" class="btn btn-primary uk-margin-auto-top" onclick="LoadingRun('#ajaxresultSendCommentTopic')">ثبت نظر</a>
            }
        </div>
    </form>
</div>
<script>
    function SendCommentTopic() {
        $("textarea").val("");
        UIkit.notification('پیام شما ثبت شد');
        LoadingEnd();
    }
</script>
