@model DataLayer.Models.TblPostOption
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Create" asp-controller="PostOption" method="post"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>نحوه ارسال</label>
                <input asp-for="Name" class="form-control form-control-sm" placeholder="مثال: ارسال با تیپاکس">
                <span id="InputPrice" class="text-danger" asp-validation-for="Name"></span>

            </div>
            <div class="form-group col-md-6">
                <label>قیمت (تومان)</label>
                <input asp-for="Price" max="10000000" class="form-control form-control-sm" placeholder="مثال: 20000">
                <span id="InputPrice" class="text-danger" asp-validation-for="Price"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
</form>
@*<script src="~/js/AddComaa.js"></script>*@
<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>

