@model TblConfig
<div class="rowr uk-margin-small-bottom">
    <h3 class="uk-h2 uk-margin-auto-left">
        تائید خرید
    </h3>
    <img src="~/st/r/logo.jpg" height="48" width="48" alt="" />
</div>

@Html.Raw(Model.Value)
