@model IEnumerable<TblWallet>
@{
    ViewData["Title"] = "کیف پول";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="wallet">
    <h2 class="title">
        کیف پول
    </h2>
    <a href="/User/Wallet/Charg" class="btn button">
        شارژ
    </a>
    <div class="balance">
        <label class="bal">@ViewBag.Balance.ToString("#,0")</label>
        <span class="t">تومان</span>
    </div>
</div>
@*@{ 
    List<TblWallet> list = ViewBag.Wallet as List<TblWallet>;
}*@
<partial name="_TransactionHistory" model="Model" />