@model DataLayer.ViewModels.RequestPaymentResult
@{
    ViewData["Title"] = "نتیجه پرداخت";
    ViewData["Single"] = true;
}

<div class="container uk-margin-auto-bottom mat-pad" style="height:50vh">
    <div class="">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="uk-alert uk-alert-success">
                <p>@Model.ResCode - @Model.Description</p>
            </div>
        }



    </div>
</div>