<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن اعلان
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Create" asp-controller="Notification" asp-area="Admin">
    <div class="modal-body">
        <div class=" col-md-6">
            <input type="checkbox" name="SendAll" value="true" onchange="SendFunction(this)"> ارسال برای همه
        </div>
        <div class=" col-md-6">
            <input type="checkbox" name="SendEmployees" value="true" onchange="SendFunction(this)"> ارسال برای کارمندان
        </div>
        <div class="form-row mr-2 mt-3">
            <div class="form-group col-md-3">
                <label>شماره تماس</label>
                <input required type="tel" class="form-control form-control-sm" placeholder="مثال:0914...." id="PhoneNumber" onchange="ShowUser()">

            </div>
            <div class="mt-md-4 pt-md-2 mr-md-3 d-none" id="UserName">
                <span id="Status" class="text-success" uk-icon="checkmark-circle-outline"></span>
                <label id="UserNameLabel"></label>
                <input type="hidden" name="UserId" id="UserId" required />
            </div>
        </div>
        <div class="form-group col-md-7 mt-2">
            <label>متن اعلان</label>
            <textarea required name="Text" class="textarea-fix-height-120 bg-light uk-border-rounded" placeholder=" متن اعلان را بنویسید... "></textarea>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button id="SubmitSendNoti" type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
</form>
<script>

    function SendFunction(checkboxElem) {
        if (checkboxElem.checked) {
            document.getElementById("PhoneNumber").disabled = true;
        } else {
            document.getElementById("PhoneNumber").disabled = false;
        }
    }

    function ShowUser() {
        var data = $("#PhoneNumber").val();
        $.get("/Admin/Notification/ReturnUser?TelNo=" + data, function (result) {
            if (result == "0") {
                document.getElementById("UserName").classList.remove("d-none");
                $("#UserId").val("");
                $("#Status").addClass('fade');
                $("#UserNameLabel").html("این شماره تماس وجود ندارد");
                $("#SubmitSendNoti").prop("disabled", "disabled");
            }
            if (result != "0") {
                document.getElementById("UserName").classList.remove("d-none");
                $("#UserNameLabel").html("");
                $("#Status").removeClass('fade');
                $("#UserId").val(result);
                $("#SubmitSendNoti").prop("disabled", "");
            }
        });

    }
</script>