    <!-- This is the off-canvas -->
<div id="offCanvas" uk-offcanvas="overlay: true;flip: true">
    <div class="uk-offcanvas-bar col">

        <img src="~/st/r/logo.jpg" width="92" height="92" class="uk-margin-auto" alt="" />

        <ul>
            <li>
                <a href="/">
                    <span class="text-3" uk-icon="home"></span>
                    <span>خانه</span>
                </a>
            </li>
            <li>
                <a href="/Forum">
                    <span class="text-3" uk-icon="chatbubbles"></span>
                    <span>تالار گفتگو</span>
                </a>
            </li>
            <li>
                <a href="/Contact">
                    <span class="text-3" uk-icon="call"></span>
                    <span>تماس با ما</span>
                </a>
            </li>
            <li>
                <a href="/About">
                    <span class="text-3" uk-icon="information-circle"></span>
                    <span>درباره</span>
                </a>
            </li>
            <li>
                <a href="/Affiliate">
                    <span class="text-3" uk-icon="flag"></span>
                    <span>شعب ما</span>
                </a>
            </li>
            <li>
                <a href="/Conditions">
                    <span class="text-3" uk-icon="pricetags"></span>
                    <span>شرایط فروش اقساطی</span>
                </a>
            </li>
            <li>
                <a href="/Blog">
                    <span class="text-3" uk-icon="browsers"></span>
                    <span>اخبار</span>
                </a>
            </li>
            <li>
                <a href="/Gallery">
                    <span class="text-3" uk-icon="image"></span>
                    <span>گالری</span>
                </a>
            </li>
        </ul>

    </div>
</div>