@model IEnumerable<TblBrand>
@foreach (var item in Model)
{
    <li>
        @*<a href="/Search?brandId=@item.BrandId" class="link-text">@item.Name</a>*@
        <a href="/ShowBrand/@item.BrandId/@item.Name.Replace(" ","-")" class="link-text">@item.Name</a>
    </li>
}