@model ResetChangePasswordVm
@{
    ViewData["Title"] = "تغیر رمز";
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="rowr">
    <form asp-action="ChangePassword" asp-controller="Profile" asp-area="User" class="form mat-card uk-width-1-2-at-m uk-width-1-2-at-l uk-width-1-1-at-s">
        <h4 class="uk-margin-bottom">
            تغییر رمز عبور
        </h4>
        <div class="fg-col">
            <label class="fg-label">
                رمز عبور قدیمی
            </label>
            <input type="password" class="entry" asp-for="OldPassword" />
            <span class="text-danger" asp-validation-for="OldPassword"></span>

        </div>
        <div class="fg-col">
            <label class="fg-label">
                رمز عبور جدید
            </label>
            <input type="password" class="entry" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>

        <div class="fg-col">
            <label class="fg-label">
                تکرار رمز عبور
            </label>
            <input type="password" class="entry" asp-for="RePassword" />
            <span class="text-danger" asp-validation-for="RePassword"></span>
        </div>

        <div class="actions">
            <button class="btn btn-primary">ویرایش</button>
        </div>

    </form>
</div>

@section Scripts{
    <script>
        // MEHDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
        function ChangeImageDb() {
            // عکس طرف رو اینجا تو دیتابیس عوض کن
        }

        function inputToImg(input, imgId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = (e) => { document.querySelector(imgId).src = e.target.result; }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}