@model TblClient
@{
    ViewData["Title"] = " پنل کاربری  " + Model.Name;
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="mat-card">
    @if (Context.Request.Query["ResetPass"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success">
            <p class="help-block">رمز شما تغییر یافت</p>
        </div>
    }
    <div class="rowr">
        <div class="pfp">
            @if (Model.MainImage != null)
            {
                <img src="~/Images/User/thumb/@Model.MainImage"
                     width="92" height="92" alt=""
                     id="imgPfp" />
            }
            else
            {
                <img src="~/st/v/alert.svg"
                     width="92" height="92" alt=""
                     id="imgPfp" />
            }

            <label class="pfp-select" uk-icon="image">
                <input type="file" id="files" accept="image/*" onchange="inputToImg(this, '#imgPfp');" />
            </label>
        </div>
        <dl class="datalist uk-margin-small-right flex-auto">
            <dt>نام و نام خانوادگی</dt>
            <dd dir="ltr">
                @if (string.IsNullOrEmpty(Model.Name))
                {
                    <a href="#ModalChangeName" class="link-text uk-margin-small-right" uk-toggle uk-tooltip="ویرایش نام" uk-icon="create-outline"></a><span>نام و نام خانوادگی</span>
                }
                else
                {
                    <a href="#ModalChangeName" class="link-text uk-margin-small-right" uk-toggle uk-tooltip="ویرایش نام" uk-icon="create-outline"></a><span>@Model.Name</span>
                }
            </dd>
            <dt>شماره تلفن</dt>
            <dd>@Model.TellNo</dd>
        </dl>
    </div>
</div>

<partial name="_OrderStatus" model="Model.TblOrder" />
@{
    List<TblNotification> list = ViewBag.Notification as List<TblNotification>;
}

<partial name="_Notifications" model="list" />

<div id="ModalChangeName" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form action="/User/Profile/EditName" method="post">
            <h3 class="uk-margin-remove-bottom">
                ویرایش نام
            </h3>
            <div class="fg-col">
                <label class="fg-label">نام و نام خانوادگی</label>
                <input type="text" name="Name" class="entry" value="@Model.Name" required />
                <span class="text-danger"></span>
            </div>
            <div class="action uk-margin-medium-top">
                <button class="btn btn-primary">ویرایش</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        //showImage();
        // MEHDIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
        function inputToImg(input, imgId) {
            $("#overlay").fadeIn(300);
            if (input.files && input.files[0]) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                data.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/User/Profile/UploadImage",
                    contentType: false,
                    processData: false,
                    data: data,
                    async: false,
                    beforeSend: function () {
                    },
                    success: function (message) {
                        if (message == "true") {
                            UIkit.notification('عکس شما تغیر یافت');
                            var reader = new FileReader();
                            reader.onload = (e) => { document.querySelector(imgId).src = e.target.result; }
                            reader.readAsDataURL(input.files[0]);
                            //var delay = 2000;
                            //setTimeout(function () { window.location = "/"; }, delay);
                        }
                        else if (message == "false") {
                            UIkit.notification('عکس مورد نظر معتبر نیست');
                        }
                    },
                    error: function () {
                        alert("Error!");
                    },
                    complete: function () {
                    }
                });
            }
            $("#overlay").fadeOut(300);
        }
    </script>

}