@model DataLayer.ViewModels.ConfigVm
@{
    ViewData["Title"] = "تنظیمات سایت";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row flex-div">
    <div class="col-md-12 flex-div pb-3 pt-3">
        <div class="card flex-div border-0 main-shadow">
            <div class="card-header bg-white">
            </div>
            <div id="card-table" class="card-body flex-div">
                <form class="form-row mt-3 fixed overflow-auto" asp-action="Index" asp-controller="Config" asp-area="Admin"
                      data-ajax="true"
                      data-ajax-method="POST"
                      data-ajax-mode="replace"
                      data-ajax-complete="EndCatagoryCreate()"
                      data-ajax-update="#ajaxresult">

                    <div class="form-group col-lg-12">
                        <label>سقف هزینه ارسال رایگان: </label>
                        <input data-type='currency' class="form-control form-control-sm d-inline-block d-sm-block col-lg-10 float-left PriceInput" placeholder="مثال: 19,000">
                        <input type="hidden" asp-for="SagfePost" />
                        <br /><span class="text-danger" asp-validation-for="SagfePost"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>تماس با ما:</label>
                        <textarea asp-for="TamasBaMa" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="TamasBaMa"></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>تماس با ما کوتاه</label>
                        <input asp-for="ShortTamasBaMa" class="form-control form-control-sm d-inline-block d-sm-block col-lg-10 float-left">
                        <br /><span class="text-danger" asp-validation-for="ShortTamasBaMa"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>متن خوش آمد گویی(موقع ورود به سایت نشان داده میشود)</label>
                        <textarea asp-for="TextModelMessage" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="TextModelMessage"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>قوانین سایت:</label>
                        <textarea asp-for="Gavanin" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="Gavanin"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>درباره ما:</label>
                        <textarea asp-for="DarbareyeMa" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="DarbareyeMa"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>درباره ما کوتاه در فوتر سایت:</label>
                        <input asp-for="ShortDarbareyeMa" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="...">
                        <br /><span class="text-danger" asp-validation-for="ShortDarbareyeMa"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>توضیحات شعب:</label>
                        <textarea asp-for="StoreDescription" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="StoreDescription"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>توضیحات آخرین مرحله خرید:</label>
                        <textarea asp-for="FinalTextKharid" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="FinalTextKharid"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>لینک اینستاگرام:</label>
                        <textarea asp-for="LinkInsta" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="LinkInsta"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>لینک تلگرم:</label>
                        <textarea asp-for="LinkTelegram" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="LinkTelegram"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>شماره واتساپ: </label>
                        <textarea asp-for="Linkwhatsapp" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="Linkwhatsapp"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>ایمیل: </label>
                        <textarea asp-for="LinkEmail" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="LinkEmail"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>توضیحات خرید اقساطی در صفحه ی فاکتور:</label>
                        <textarea asp-for="KharidAgsady" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="KharidAgsady"></span>
                    </div>
                    <div class="form-group col-lg-12 mt-lg-3">
                        <label>توضیحات خرید اقساطی در منو:</label>
                        <textarea asp-for="SharayeteAghsati" class="form-control form-control-sm d-inline-block d-sm-block col-lg-12" placeholder="..."></textarea>
                        <br /><span class="text-danger" asp-validation-for="SharayeteAghsati"></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm text-white">ثبت تغییرات<span class="icon-holder uk-margin-small-right" uk-icon="create-outline"></span></button>
                </form>
            </div>

            <div class="card-footer bg-white text-left">
                <nav aria-label="Page navigation example">
                    @*@await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })*@
                </nav>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/Auto_Formatting_Currency.js"></script>
    <script>
        $(function () {
            $('#TamasBaMa').ckeditor();
            $('#DarbareyeMa').ckeditor();
            $('#StoreDescription').ckeditor();
            $('#Gavanin').ckeditor();
            $('#SharayeteAghsati').ckeditor();
            $('#TextModelMessage').ckeditor();

        });
        $(".PriceInput").change(function () {
            var price = $(this).val().replaceAll(",", "");
            if ($.isNumeric(price)) {
                $("#SagfePost").val($(this).val().replaceAll(",", ""));
            } else {
                $(this).val("");
            }
        });

        $(".PriceInput").val($("#SagfePost").val());

    </script>
    <script src="~/Validate/jquery.validate.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
}
