@model DataLayer.Models.TblBankAccounts
<div class="modal-header">
    <h6 class="modal-title" id="modalCenterTitle">
        افزودن کارت بانکی
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="Create" asp-controller="Card" asp-area="Admin"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-complete="EndCatagoryCreate()"
      data-ajax-update="#ajaxresult">
    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>شماره کارت</label>
                <input asp-for="AccountNo" type="number" class="form-control form-control-sm" placeholder="مثال: ...6037">
                <span class="text-danger" asp-validation-for="AccountNo"></span>
            </div>
            <div class="form-group col-lg-6">
                <label>صاحب کارت</label>
                <input asp-for="Name" type="text" class="form-control form-control-sm" placeholder="مثال: علی علیزاده">
                <span class="text-danger" asp-validation-for="AccountNo"></span>
            </div>
            <div class="form-group col-lg-6">
                <label>نام بانک</label>
                <input asp-for="BankName" type="text" class="form-control form-control-sm" placeholder="مثال: بانک ملی">
                <span class="text-danger" asp-validation-for="BankName"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="submit" class="btn btn-success btn-sm text-white">افزودن<span class="icon-holder uk-margin-small-right" uk-icon="add-circle-outline"></span></button>
    </div>
</form>

<script src="~/Validate/jquery.validate.min.js"></script>
<script src="~/Validate/jquery.validate.unobtrusive.js"></script>