@model IEnumerable<TblTopic>
@{
    ViewData["Title"] = "تالار گفتگو";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> idsAdd = (List<int>)ViewData["ListIdAd"];
    Random random = new Random();

    int getNext()
    {
        if (idsAdd.Count > 0)
        {
            int randomIndex = random.Next(0, idsAdd.Count - 1);
            int id = idsAdd[randomIndex];
            idsAdd.Remove(id);
            return id;
        }
        return -1;
    }
}

@section Styles{
    <link href="~/css/pages/forum.min.css" rel="stylesheet" />
}

@section Aside{

    <div class="mat-card" swap="swNewForum">
        <h3>موضوع جدید</h3>
        <p>موضوعی برای بحث دارید؟ آن را به اشتراک بگزارید</p>
        <a href="/Forum/NewForum" class="btn btn-primary">ثبت موضوع</a>
    </div>
    <div swap="baner1">
        @await Component.InvokeAsync("AdView", new { number = getNext() })
    </div>
    <div swap="baner2">
        @await Component.InvokeAsync("AdView", new { number = getNext() })
    </div>

}

<nav class="breadcrumb uk-padding-remove">
    <a href="#">تالار گفتگو</a>
</nav>

<div role="none" id="swNewForum"></div>
@if (Context.Request.Query["addForum"].ToString() == "true")
{
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.Claims.Last().Value == "user")
        {
            <div class="uk-alert uk-alert-success" id="addForum">
                <p class="help-block">پیام شما ثبت شد و بعد از بررسی در تالار گفتوگو قرار خواهد گرفت</p>
            </div>
        }
        else if (User.Claims.Last().Value == "employee" || User.Claims.Last().Value == "admin")
        {
            <div class="uk-alert uk-alert-success" id="addForum">
                <p class="help-block">پیام شما ثبت شد</p>
            </div>
        }
        <script>
            var delay = 4000;
            setTimeout(function () { $("#addForum").css("display", "none"); }, delay);
        </script>
    }
}
<div class="threads col">
    @foreach (var item in Model)
    {
        <partial name="_ThreadBlock" model="item" />
    }
</div>

<div role="none" id="baner1"></div>
<div role="none" id="baner2"></div>

@section Scripts{
    <script src="~/js/BjaxLib.js"></script>

    <script>
        $.get('https://www.cloudflare.com/cdn-cgi/trace',
            function (data) {
                console.log(data);
                console.log(data.split('ip=')[1].split('ts')[0]);
            });
    </script>

    <script src="~/js/vote.js"></script>

}