@model TblConfig
@{
    ViewData["Title"] = "شرایط اقساطی";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}

<div class="mat-card height">
    @if (Model.Value != null)
    {
        @Html.Raw(Model.Value)
    }
    else
    {
        <h1 class="uk-alert uk-text-center">
            شرایط فروش اقساطی
        </h1>
    }
</div>