@{
    ViewData["Title"] = "تماس با ما";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}
<div class="mat-card uk-margin-small-bottom">
    @await Component.InvokeAsync("TamasBaMaInContactView")
</div>
<div class="main-contact">

    <div class="left">
        <!-- #region Contact -->
        @await Component.InvokeAsync("TamasBaMaFormInContactView")
       
        <!-- #endregion -->
        <!-- #region Sellers -->
        @*<a href="@ViewBag.Telegram" class="telegram">
            <img src="~/st/r/Telegram.png" alt="قصر موبایل" />
        </a>
        <a href="@ViewBag.Instagram" class="instagram">
            <img src="~/st/r/Instagram.png" alt="قصر موبایل" />
        </a>*@

        @*<div class="sellers mat-card">
            <h3>مدیران فروش</h3>
            <ul>
                <li>
                    <label>نام و نام خانوادگی</label>
                    <div class="rowr">
                        <span>33860896</span>
                    </div>
                </li>
                <li>
                    <label>نام و نام خانوادگی</label>
                    <div class="rowr">
                        <span>33860896</span>
                    </div>
                </li>
                <li>
                    <label>نام و نام خانوادگی</label>
                    <div class="rowr">
                        <span>33860896</span>
                    </div>
                </li>
                <li>
                    <label>نام و نام خانوادگی</label>
                    <div class="rowr">
                        <span>33860896</span>
                    </div>
                </li>
            </ul>
        </div>*@

        <!-- #endregion -->

    </div>

    <div class="right">

        <!-- #region Request -->
        @await Component.InvokeAsync("DeliveryInContactView")
        <!-- #endregion -->

    </div>

    <div class="bottom">
        <a href="mailto:@(ViewBag.Email)" target="_blank">
            <img src="~/st/v/Gmail.svg" width="124" height="124" alt="" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=@(ViewBag.Whatsapp)" target="_blank">
            <img src="~/st/v/Whatsapp.svg" width="124" height="124" alt="" />
        </a>
        <a href="@ViewBag.Telegram" target="_blank">
            <img src="~/st/v/Telegram.svg" width="124" height="124" alt="" />
        </a>
        <a href="@ViewBag.Instagram" target="_blank">
            <img src="~/st/v/InstagramLong.svg" height="124" alt="" />
        </a>
    </div>

</div>
