
@{
    ViewData["Title"] = "IndexNew";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<link href="~/css/NewIndex.min.css" rel="stylesheet" />
<!--FIRST slidshow section-->
<section class="first-slideshow uk-margin-large-top">
    <div uk-slideshow="autoplay: true ; autoplay-interval:4000">
        <div class="first-slideshow-container uk-position-relative uk-visible-toggle uk-light my-center" tabindex="-1" uk-slideshow="ratio: 8.8:3.4;">
            <ul class="uk-slideshow-items">
                <li>
                    <a href=""><img src="~/Images/NewIndex/slider.png" alt="" uk-cover></a>
                </li>
                <li>
                    <a href=""><img src="~/Images/Slider/600d03c5-ea7e-406e-a4e3-ee1e5e8916ed.jpg" alt="" uk-cover></a>
                </li>
                <li>
                    <a href=""><img src="~/Images/NewIndex/slider.png" alt="" uk-cover></a>
                </li>
                <li>
                    <a href=""><img src="~/Images/Slider/600d03c5-ea7e-406e-a4e3-ee1e5e8916ed.jpg" alt="" uk-cover></a>
                </li>
            </ul>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center my-center"></ul>
    </div>
</section>
<!--end FIRST slidshow section-->
<!--white cards slider with timer section--->
<section class="slider-section uk-margin-auto uk-margin-medium-top slider-with-timer">
    <div class="" uk-grid dir="rtl">
        <!--timer card--->
        <div class="uk-width-1-1 uk-width-1-3-at-m uk-width-1-4-at-l">
            <div class="uk-margin-auto my-card my-card-with-timer my-column">
                <p id="timer" class=" my-center uk-margin-top uk-margin-bottom"></p>
                <div class="my-row">
                    <div class="off-persent">
                        <span class="">25%</span>
                    </div>
                    <img class="my-center" src="~/Images/Slider/c4ed514d-3297-46df-9859-f86e7b899732.jpg" width="150" />
                    <div class="my-column uk-margin-top color-dot-container">
                        <span class="color-dot" style="background:black;border-color:black"></span>
                        <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                        <span class="color-dot" style="background:white;border-color:gray"></span>
                        <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                    </div>
                </div>
                <div class="about" dir="rtl">
                    iphone 8 طراحی شده است برای p12 pro نشان دهید که
                </div>
                <span class="category" dir="rtl">
                    دسته بندی این محصول یا کالا
                </span>
                <div class="rate" dir="rtl">
                    <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                </div>
                <div class="my-row price-container" dir="rtl">
                    <div class="my-column">
                        <span class="uk-text-danger ">
                            <span class="pre-price">546211</span><span class="uk-text-small">تومان</span>
                        </span>
                        <span class="now-price-container">
                            <span class="now-price">5425641</span><span class="uk-text-small">تومان</span>
                        </span>
                    </div>
                    <a class="cart-container uk-margin-auto-right center">
                        <span uk-icon="cart">

                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end timer card--->
        <!-- white cards slider-->
        <div class="uk-width-expand" dir="ltr">
            <div class="uk-margin-right">
                <span>سامسونگ</span>
                <img src="~/st/v/dot.svg" />
            </div>
            <div uk-slider="autoplay: true ; autoplay-interval:5000">
                <div class="uk-position-relative">
                    <div class="uk-slider-container uk-light">
                        <ul class="uk-slider-items uk-child-width-1-2-at-s uk-child-width-1-1-at-xs uk-child-width-1-2-at-m uk-child-width-1-3-at-l uk-margin-auto">
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">546211</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">5425641</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">546211</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">546241</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">5462141</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">546241</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">5462641</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-auto my-card my-column">
                                    <div class="my-row">
                                        <div class="off-persent">
                                            <span class="">25%</span>
                                        </div>
                                        <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                        <div class="my-column uk-margin-top color-dot-container">
                                            <span class="color-dot" style="background:black;border-color:black"></span>
                                            <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                            <span class="color-dot" style="background:white;border-color:gray"></span>
                                            <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                        </div>
                                    </div>
                                    <div class="about" dir="rtl">
                                        iphone 8 طراحی شده است برای p12 pro نشان دهید که
                                    </div>
                                    <span class="category" dir="rtl">
                                        دسته بندی این محصول یا کالا
                                    </span>
                                    <div class="rate" dir="rtl">
                                        <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                                    </div>
                                    <div class="my-row price-container" dir="rtl">
                                        <div class="my-column">
                                            <span class="uk-text-danger ">
                                                <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                            </span>
                                            <span class="now-price-container">
                                                <span class="now-price">5462611</span><span class="uk-text-small">تومان</span>
                                            </span>
                                        </div>
                                        <a class="cart-container uk-margin-auto-right center">
                                            <span uk-icon="cart">

                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>

                <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

            </div>
        </div>
        <!--end white cards slider-->
    </div>
</section>
<!--end white cards with timer section--->
<!--two banner section-->
<section class="two-banner-section uk-margin-medium-top my-center">
    <div class="uk-grid-match" uk-grid dir="rtl">
        <!--right side banner-->
        <div class="banner-one uk-width-1-1 uk-width-1-3-at-m">
            <a href=""><img src="~/Images/NewIndex/banner1.png" /></a>
        </div>
        <!--left side banner-->
        <div class="banner-two uk-width-expand">
            <a href=""><img src="~/Images/NewIndex/banner2.png" /></a>
        </div>
    </div>
</section>
<!--end two banner section-->
<!--white cards slider section--->
<section class="slider-section uk-margin-auto uk-margin-medium-top">
    <div class="uk-margin-right">
        <span>سامسونگ</span>
        <img src="~/st/v/dot.svg" />
    </div>
    <div uk-slider="autoplay: true ; autoplay-interval:5000">

        <div class="uk-position-relative">

            <div class="uk-slider-container uk-light">
                <ul class="uk-slider-items uk-child-width-1-2-at-s uk-child-width-1-1-at-xs uk-child-width-1-3-at-m uk-child-width-1-4-at-l uk-margin-auto">
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">546211</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5425641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">546211</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">546241</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">546241</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462611</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

    </div>
</section>
<!--end white cards slider section--->
<!--one banner section-->
<section class="one-banner-section uk-margin-medium-top my-center">
    <div class="" uk-grid>
        <div class="uk-width-expand" dir="ltr">
            <a href=""><img src="~/Images/NewIndex/Banner.png" /></a>
        </div>
    </div>
</section>
<!--end one banner section-->
<!--white cards slider section--->
<section class="slider-section uk-margin-auto uk-margin-medium-top">
    <div class="uk-margin-right">
        <span>سامسونگ</span>
        <img src="~/st/v/dot.svg" />
    </div>
    <div uk-slider="autoplay: true ; autoplay-interval:5000">

        <div class="uk-position-relative">

            <div class="uk-slider-container uk-light">
                <ul class="uk-slider-items uk-child-width-1-2-at-s uk-child-width-1-1-at-xs uk-child-width-1-3-at-m uk-child-width-1-4-at-l uk-margin-auto">
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">546211</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5425641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">546211</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">546241</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">546241</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462141</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-margin-auto my-card my-column">
                            <div class="my-row">
                                <div class="off-persent">
                                    <span class="">25%</span>
                                </div>
                                <img class="my-center uk-margin-medium-top" src="~/Images/Slider/061ff470-5fb9-4e0a-a73e-e5ae01d097fd.png" width="150" />
                                <div class="my-column uk-margin-top color-dot-container">
                                    <span class="color-dot" style="background:black;border-color:black"></span>
                                    <span class="color-dot" style="background:indianred;border-color:indianred"></span>
                                    <span class="color-dot" style="background:white;border-color:gray"></span>
                                    <span class="color-dot" style="background:cadetblue;border-color:cadetblue"></span>
                                </div>
                            </div>
                            <div class="about" dir="rtl">
                                iphone 8 طراحی شده است برای p12 pro نشان دهید که
                            </div>
                            <span class="category" dir="rtl">
                                دسته بندی این محصول یا کالا
                            </span>
                            <div class="rate" dir="rtl">
                                <span class="star" uk-icon="star-small"></span><span class="rate-number">4.4</span><span class="numbers">(54163)</span>
                            </div>
                            <div class="my-row price-container" dir="rtl">
                                <div class="my-column">
                                    <span class="uk-text-danger ">
                                        <span class="pre-price">5462641</span><span class="uk-text-small">تومان</span>
                                    </span>
                                    <span class="now-price-container">
                                        <span class="now-price">5462611</span><span class="uk-text-small">تومان</span>
                                    </span>
                                </div>
                                <a class="cart-container uk-margin-auto-right center">
                                    <span uk-icon="cart">

                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

    </div>
</section>
<!--end white cards slider section--->
<!--question section-->
<section class="question-section my-center uk-margin-medium-top">
    <div class="" uk-grid dir="rtl">
        <div class="purple-card-container uk-width-1-1 uk-width-1-4-at-m my-center">
            <div class="purple-card" style=" align-items:start;vertical-align:super;">
                <h4 class="uk-text-right">سوالات متداول</h4>
                <p>
                    اگر در مورد خدمات ما سوالی دارید...
                    <br /><br />
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول راحی اساسا مورد استفاده قرار گیرد.
                </p>
                <div class="uk-text-right">
                    <a class="more-question" href="#">سوالات بیشتر</a>
                </div>
            </div>
        </div>
        <!--questions-->
        <div class="questions-container uk-width-expand">
            <div class="questions">
                <ul uk-accordion class="uk-text-right uk-margin-top uk-margin-bottom">
                    <li>
                        <a class="uk-accordion-title" href="#">این یک سوال متداول است با کلیک روی آن جواب نمایش داده میشود</a>
                        <div class="uk-accordion-content">
                            <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">این یک سوال متداول است با کلیک روی آن جواب نمایش داده میشود</a>
                        <div class="uk-accordion-content">
                            <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">این یک سوال متداول است با کلیک روی آن جواب نمایش داده میشود</a>
                        <div class="uk-accordion-content">
                            <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">این یک سوال متداول است با کلیک روی آن جواب نمایش داده میشود</a>
                        <div class="uk-accordion-content">
                            <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end question section-->
<!--blog section-->
<section class="blog-section uk-margin-auto uk-margin-large-top">
    <div class="uk-margin-bottom">
        <span>وبلاگ ها</span>
        <img src="~/st/v/dot.svg" />
    </div>
    <div class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2-at-s uk-child-width-1-2-at-m uk-child-width-1-3-at-l uk-text-center" uk-grid>
        <!--blog card-->
        <div class="blog-card my-column">
            <img src="~/Images/ProductAlbum/4c8bc3e7-d1ba-4c89-adf8-70e657074744.jpg" />
            <h5 class="uk-text-right">این یک وبلاگ می باشد </h5>
            <p class="uk-text-right">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول راحی اساسا مورد استفاده قرار گیرد
            </p>
            <div class="uk-text-right">
                <a href="#">...بیشتر</a>
            </div>
        </div>
        <!--blog card-->
        <div class="blog-card my-column">
            <img src="~/Images/ProductAlbum/36f0ea57-f335-470a-af5a-aebda811f221.jpg" />
            <h5 class="uk-text-right">این یک وبلاگ می باشد </h5>
            <p class="uk-text-right">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول راحی اساسا مورد استفاده قرار گیرد
            </p>
            <div class="uk-text-right">
                <a href="#">...بیشتر</a>
            </div>
        </div>
        <!--blog card-->
        <div class="blog-card my-column">
            <img src="~/Images/ProductAlbum/d11ec0e3-09ee-4ae1-a584-3fe4287dc892.jpg" />
            <h5 class="uk-text-right">این یک وبلاگ می باشد </h5>
            <p class="uk-text-right">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنول راحی اساسا مورد استفاده قرار گیرد
            </p>
            <div class="uk-text-right">
                <a href="#">...بیشتر</a>
            </div>
        </div>

    </div>
</section>
<!--end blog section-->
<!--album section-->
<section class="album-section uk-margin-auto uk-margin-large-top">
    <div class="uk-margin-bottom">
        <span>آلبوم تصاویر و ویدیوها</span>
        <img src="~/st/v/dot.svg" />
    </div>
    <div uk-lightbox="animation: slide">
        <div id="gallery" class="container-fluid">
            <a href="~/Images/ProductAlbum/c4412c3d-602b-4b2c-a864-92cbff66d6ea.jpg" data-caption="عنوان دلخواه">
                <img src="~/Images/ProductAlbum/c4412c3d-602b-4b2c-a864-92cbff66d6ea.jpg" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/banner1.png" data-caption="عنوان دلخواه">
                <img src="~/Images/NewIndex/banner1.png" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/Banner.png" data-caption="عنوان دلخواه">
                <img src="~/Images/NewIndex/Banner.png" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/video-sample.mp4" data-caption="عنوان دلخواه">
                <video class="vid" controls="controls">
                    <source src="~/Images/NewIndex/video-sample.mp4" type="video/mp4" />
                </video>
            </a>
            <a href="~/Images/ProductAlbum/c4412c3d-602b-4b2c-a864-92cbff66d6ea.jpg" data-caption="عنوان دلخواه">
                <img src="~/Images/ProductAlbum/c4412c3d-602b-4b2c-a864-92cbff66d6ea.jpg" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/banner2.png" data-caption="عنوان دلخواه">
                <img src="~/Images/NewIndex/banner2.png" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/Banner.png" data-caption="عنوان دلخواه">
                <img src="~/Images/NewIndex/Banner.png" class="img-responsive">
            </a>
            <a href="~/Images/NewIndex/video-sample.mp4" data-caption="عنوان دلخواه">
                <video class="vid" controls="controls">
                    <source src="~/Images/NewIndex/video-sample.mp4" type="video/mp4" />
                </video>
            </a>
            <a href="~/Images/Slider/600d03c5-ea7e-406e-a4e3-ee1e5e8916ed.jpg" data-caption="عنوان دلخواه">
                <img src="~/Images/Slider/600d03c5-ea7e-406e-a4e3-ee1e5e8916ed.jpg" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="my-center uk-margin-medium-top">
        <a class="more-photos" href="#">مشاهده تمام عکس ها</a>
    </div>

</section>
<!--end of album section-->
<!--home services section-->
<section class="service-section uk-margin-auto uk-margin-large-top uk-margin-large-bottom">
    <div class="form-container uk-margin-auto">
        <div class="form-card uk-margin-auto my-column uk-width-1-1-at-xs uk-width-1-2-at-s uk-width-1-3-at-m uk-width-1-4-at-xl">
            <h4 class="uk-text-right">درخواست خدمات درب منزل</h4>
            <p class="uk-text-right">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="Name">نام و نام خانوادگی</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="Name" type="text" placeholder="">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="PhoneNumber">شماره تلفن</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="PhoneNumber" type="tel" placeholder="">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="Address">آدرس</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" rows="5" id="Address" placeholder=""></textarea>

                    </div>
                </div>
                <div class="uk-margin-top">
                    <a href="#">فرستادن پیام</a>
                </div>
            </form>
        </div>
    </div>
</section>
<!--end of home services section-->

<script>
    // Set the date we're counting down to
    var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="timer"
        document.getElementById("timer").innerHTML = seconds + " : " + minutes + " : "
            + hours + " : " + days;
        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>