@model IEnumerable<TblRegularQuestion>
@{
    ViewData["Title"] = "سوالات متداول ";
    ViewData["Single"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

    <link href="~/css/pages/index.min.css" rel="stylesheet" />

}

@if (Model.Any())
{
<div class="height">
    <div class="mat-card col">
        <h1 class="uk-h3 uk-margin-auto-left uk-margin-bottom">
            پاسخ به سوالات شما
        </h1>
        <ul uk-accordion class="uk-margin-remove-top">
            @foreach (var item in Model)
            {
                <li>
                    <a class="uk-accordion-title" href="#">@item.Question</a>
                    <p class="uk-accordion-content uk-margin-top uk-margin-remove-bottom text-3">
                        @item.Answer
                    </p>
                </li>
            }
        </ul>
    </div>
</div>
}
